exec_16040.json
{"id":"16040","finished":true,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"success","createdAt":"2026-03-16T14:35:58.821Z","startedAt":"2026-03-16T14:35:58.860Z","stoppedAt":"2026-03-16T14:36:05.027Z","deletedAt":null,"workflowId":"YQK92VBopZtOCFim","waitTill":null,"data":{"version":1,"startData":{},"resultData":{"runData":{"Webhook":[{"startTime":1773671759718,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"awlegaltech-n8n.cloudfy.live","user-agent":"axios/1.12.2","content-length":"821","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"91.98.149.129","cf-ipcountry":"DE","cf-ray":"9dd47ccbed3ed34c-FRA","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/json","x-forwarded-for":"172.71.172.113","x-forwarded-host":"awlegaltech-n8n.cloudfy.live","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"c62dfd086a39","x-real-ip":"172.71.172.113"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"RESOLVAJA","data":{"key":{"remoteJid":"276991769112830@lid","remoteJidAlt":"559294023293@s.whatsapp.net","fromMe":true,"id":"3EB035FEF5DBA001E651C5","participant":"","addressingMode":"lid"},"pushName":"Resolva Já","status":"DELIVERY_ACK","message":{"conversation":"Perfeito. Agora o senhor pode nos encaminhar seu contrato de financiamento para verificarmos abusividades"},"messageType":"conversation","messageTimestamp":1773671736,"instanceId":"5bc51cf2-6a3f-4fff-9a0f-494d1e639941","source":"web"},"destination":"https://awlegaltech-n8n.cloudfy.live/webhook/12730597-520e-42d3-8af0-283381e63944","date_time":"2026-03-16T11:35:58.661Z","sender":"559281056671@s.whatsapp.net","server_url":"https://awlegaltech-evolution.cloudfy.live","apikey":"777C54930886-4958-A3AA-D0E58D2ED3F7"},"webhookUrl":"https://awlegaltech-n8n.cloudfy.live/webhook/12730597-520e-42d3-8af0-283381e63944","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"Respond to Webhook":[{"startTime":1773671759718,"executionIndex":1,"source":[{"previousNode":"Webhook"}],"hints":[],"executionTime":2,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"awlegaltech-n8n.cloudfy.live","user-agent":"axios/1.12.2","content-length":"821","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"91.98.149.129","cf-ipcountry":"DE","cf-ray":"9dd47ccbed3ed34c-FRA","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/json","x-forwarded-for":"172.71.172.113","x-forwarded-host":"awlegaltech-n8n.cloudfy.live","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"c62dfd086a39","x-real-ip":"172.71.172.113"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"RESOLVAJA","data":{"key":{"remoteJid":"276991769112830@lid","remoteJidAlt":"559294023293@s.whatsapp.net","fromMe":true,"id":"3EB035FEF5DBA001E651C5","participant":"","addressingMode":"lid"},"pushName":"Resolva Já","status":"DELIVERY_ACK","message":{"conversation":"Perfeito. Agora o senhor pode nos encaminhar seu contrato de financiamento para verificarmos abusividades"},"messageType":"conversation","messageTimestamp":1773671736,"instanceId":"5bc51cf2-6a3f-4fff-9a0f-494d1e639941","source":"web"},"destination":"https://awlegaltech-n8n.cloudfy.live/webhook/12730597-520e-42d3-8af0-283381e63944","date_time":"2026-03-16T11:35:58.661Z","sender":"559281056671@s.whatsapp.net","server_url":"https://awlegaltech-evolution.cloudfy.live","apikey":"777C54930886-4958-A3AA-D0E58D2ED3F7"},"webhookUrl":"https://awlegaltech-n8n.cloudfy.live/webhook/12730597-520e-42d3-8af0-283381e63944","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"Wait":[{"startTime":1773671759720,"executionIndex":2,"source":[{"previousNode":"Respond to Webhook"}],"hints":[],"executionTime":3001,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"awlegaltech-n8n.cloudfy.live","user-agent":"axios/1.12.2","content-length":"821","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"91.98.149.129","cf-ipcountry":"DE","cf-ray":"9dd47ccbed3ed34c-FRA","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/json","x-forwarded-for":"172.71.172.113","x-forwarded-host":"awlegaltech-n8n.cloudfy.live","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"c62dfd086a39","x-real-ip":"172.71.172.113"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"RESOLVAJA","data":{"key":{"remoteJid":"276991769112830@lid","remoteJidAlt":"559294023293@s.whatsapp.net","fromMe":true,"id":"3EB035FEF5DBA001E651C5","participant":"","addressingMode":"lid"},"pushName":"Resolva Já","status":"DELIVERY_ACK","message":{"conversation":"Perfeito. Agora o senhor pode nos encaminhar seu contrato de financiamento para verificarmos abusividades"},"messageType":"conversation","messageTimestamp":1773671736,"instanceId":"5bc51cf2-6a3f-4fff-9a0f-494d1e639941","source":"web"},"destination":"https://awlegaltech-n8n.cloudfy.live/webhook/12730597-520e-42d3-8af0-283381e63944","date_time":"2026-03-16T11:35:58.661Z","sender":"559281056671@s.whatsapp.net","server_url":"https://awlegaltech-evolution.cloudfy.live","apikey":"777C54930886-4958-A3AA-D0E58D2ED3F7"},"webhookUrl":"https://awlegaltech-n8n.cloudfy.live/webhook/12730597-520e-42d3-8af0-283381e63944","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"Variáveis Globais":[{"startTime":1773671762722,"executionIndex":3,"source":[{"previousNode":"Wait"}],"hints":[],"executionTime":4,"executionStatus":"success","data":{"main":[[{"json":{"telefone":"276991769112830@lid","mensagem":"Perfeito. Agora o senhor pode nos encaminhar seu contrato de financiamento para verificarmos abusividades","instancia-evolution":"RESOLVAJA","fromMe":"true","http-evolution":"https://awlegaltech-evolution.cloudfy.live","apikey-evo":"777C54930886-4958-A3AA-D0E58D2ED3F7","id_mensagem":"3EB035FEF5DBA001E651C5","remoteid":"276991769112830@lid"},"pairedItem":{"item":0}}]]}}],"Extrator de Nome (GPT)":[{"startTime":1773671762726,"executionIndex":4,"source":[{"previousNode":"Variáveis Globais"}],"hints":[],"executionTime":2287,"executionStatus":"success","data":{"main":[[{"json":{"output":[{"id":"msg_0e610fb1959bdf990069b81554d8388191b2d793ab817d9618","type":"message","status":"completed","content":[{"type":"output_text","annotations":[],"logprobs":[],"text":"NULL"}],"role":"assistant"}]},"pairedItem":{"item":0}}]]}}],"Achou Nome?":[{"startTime":1773671765013,"executionIndex":5,"source":[{"previousNode":"Extrator de Nome (GPT)"}],"hints":[],"executionTime":2,"executionStatus":"success","data":{"main":[[],[{"json":{"output":[{"id":"msg_0e610fb1959bdf990069b81554d8388191b2d793ab817d9618","type":"message","status":"completed","content":[{"type":"output_text","annotations":[],"logprobs":[],"text":"NULL"}],"role":"assistant"}]},"pairedItem":{"item":0}}]]}}],"If2":[{"startTime":1773671765015,"executionIndex":6,"source":[{"previousNode":"Achou Nome?","previousNodeOutput":1}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[],[{"json":{"output":[{"id":"msg_0e610fb1959bdf990069b81554d8388191b2d793ab817d9618","type":"message","status":"completed","content":[{"type":"output_text","annotations":[],"logprobs":[],"text":"NULL"}],"role":"assistant"}]},"pairedItem":{"item":0}}]]}}],"Edit Fields8":[{"startTime":1773671765017,"executionIndex":7,"source":[{"previousNode":"If2","previousNodeOutput":1}],"hints":[],"executionTime":2,"executionStatus":"success","data":{"main":[[{"json":{"lid":"276991769112830@lid","telefone":"276991769112830@lid","Fromme":"true"},"pairedItem":{"item":0}}]]}}],"If11":[{"startTime":1773671765019,"executionIndex":8,"source":[{"previousNode":"Edit Fields8"}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"lid":"276991769112830@lid","telefone":"276991769112830@lid","Fromme":"true"},"pairedItem":{"item":0}}],[]]}}],"Switch2":[{"startTime":1773671765020,"executionIndex":9,"source":[{"previousNode":"If11"}],"hints":[],"executionTime":7,"executionStatus":"success","data":{"main":[[],[]]}}]},"lastNodeExecuted":"Switch2"},"executionData":{"contextData":{},"nodeExecutionStack":[],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1773671759717,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"YQK92VBopZtOCFim","name":"✅RESOLVAJA Agente SDR + RAG + FOLLOW-UP Completo","active":true,"activeVersionId":"2f513651-5ed2-4e71-9e0a-c0e2ff0e3bc0","isArchived":false,"createdAt":"2025-11-15T20:20:06.069Z","updatedAt":"2026-03-16T00:21:15.729Z","nodes":[{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"50cebc66-2dbc-4c7a-a09e-83ffb0f52991","name":"messages","value":"={{ \n  $('AI Agent1').item.json.output\n    .split('\\n\\n')\n    .map(t => t.trim())\n    .filter(t => t.length > 0) \n}}","type":"array"}]},"includeOtherFields":false,"options":{}},"id":"cff90a7a-184b-43e9-ac0d-2339ffe3d5a7","name":"Edit Fields6","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3200,-336]},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"8d88c137-383f-4307-b3cc-1f6a560ea67b","name":"telefone","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"7e2f520e-4952-425b-82ca-792cc46680d4","name":"mensagem","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"},{"id":"fd4104e3-3fe4-448f-bdb5-455f45038aa8","name":"instancia-evolution","value":"={{ $('Webhook').item.json.body.instance }}","type":"string"},{"id":"51705f09-ae29-4cf1-a82c-15198614bdf5","name":"fromMe","value":"={{ $('Webhook').item.json.body.data.key.fromMe }}","type":"string"},{"id":"71eb4495-3bb4-4677-8d03-fdc2c8a14f3d","name":"http-evolution","value":"https://awlegaltech-evolution.cloudfy.live","type":"string"},{"id":"25dbde6b-cf16-4746-80e6-a1a91956dc51","name":"apikey-evo","value":"777C54930886-4958-A3AA-D0E58D2ED3F7","type":"string"},{"id":"79dab5e4-a9a7-4664-9421-0a1bfc5bd6d6","name":"id_mensagem","value":"={{ $('Webhook').item.json.body.data.key.id }}","type":"string"},{"id":"472e36ff-99f7-44fd-b4f5-fb3f17e5e0df","name":"remoteid","value":"={{ $json.body.data.key.remoteJid }}","type":"string"}]},"includeOtherFields":false,"options":{}},"id":"a3c1217d-ddc6-48af-816b-6f4588d9fdf9","name":"Variáveis Globais","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5104,-704]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $('Edit Fields').item.json.file_id }}"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain","drawingsToFormat":"image/jpeg","slidesToFormat":"application/vnd.openxmlformats-officedocument.presentationml.presentation","sheetsToFormat":"text/csv"}}}},"id":"8d60958e-3176-4d30-9cac-63e18598ff7b","name":"Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-4608,928],"credentials":{"googleDriveOAuth2Api":{"id":"GaqtcHSJB9fjwsMU","name":"Google Drive account"}}},{"parameters":{"useCustomSchema":false,"resource":"row","operation":"delete","tableId":"documents","filterType":"string","jsonNotice":"","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"8e88bc79-b572-4362-b40a-d27a079054b3","name":"Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4832,928],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"WF1jfUkxVMbcGRg6","name":"Supabase account RJ"}}},{"parameters":{"operation":"text","binaryPropertyName":"data","destinationKey":"data","options":{}},"id":"537bb69e-bb97-4dda-b2d0-41814d745d84","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-4384,928]},{"parameters":{"ragStarterCallout":"","mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"embeddingBatchSize":200,"options":{}},"id":"b2705635-c1b3-4ffc-9bde-aab8622e4d9f","name":"Supabase Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[-4128,928],"credentials":{"supabaseApi":{"id":"WF1jfUkxVMbcGRg6","name":"Supabase account RJ"}}},{"parameters":{"notice":"","model":"text-embedding-3-small","options":{}},"id":"cad7be8c-911c-4b62-82c7-bfdd4ad90cad","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-4160,1152],"credentials":{"openAiApi":{"id":"FXbxMD0PGGyX5kPw","name":"OpenAi account JS"}}},{"parameters":{"notice":"","dataType":"json","jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"file_id","value":"={{ $('Edit Fields').item.json.file_id }}"}]}}},"id":"b26d6071-2b54-4ead-aa7a-1140aa3c3151","name":"Default Data Loader1","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-4032,1152]},{"parameters":{"notice":"","chunkSize":2000,"chunkOverlap":200,"options":{}},"id":"9eee928a-821e-4eb4-adca-6981ec3fc1ac","name":"Recursive Character Text Splitter1","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-3952,1360]},{"parameters":{"notice":""},"id":"445b76d4-a91a-470d-94ac-fd7a48df8514","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-5280,928]},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"a68f0f01-36d0-45c4-9116-3807f9afa94f","name":"file_id","value":"16cl2MAKC97wopoP6PNqhDhFH_vOlRJ_pKR_RU97jRxo","type":"string"}]},"includeOtherFields":false,"options":{}},"id":"09f091fb-677f-45f7-870d-2e27875285f2","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5056,928]},{"parameters":{"resource":"database","operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"deleteCommand":"truncate","restartSequences":false,"options":{}},"id":"151f5554-be78-4ef9-bd17-c35eebafce7c","name":"Limpar_memoria","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-5280,272],"credentials":{"postgres":{"id":"jrsbA4DhL4ybVOSn","name":"postgres_cloudfy"}}},{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"12730597-520e-42d3-8af0-283381e63944","authentication":"none","responseMode":"responseNode","webhookNotice":"","options":{}},"id":"208822e5-cc92-4480-ac51-625f5ff618f2","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-5776,-704],"webhookId":"079736fa-5e14-42e2-8a21-9cc375803bb0"},{"parameters":{"useCustomSchema":false,"resource":"row","operation":"getAll","tableId":"followup_clientes","returnAll":false,"limit":50,"filterType":"manual","matchType":"anyFilter","filters":{"conditions":[{"keyName":"remoteid","condition":"eq","keyValue":"={{ $json.telefone_geral }}"}]}},"id":"05d7ef6f-4a74-4728-9304-398a19c73e7d","name":"Supabase: Get Lead Data on Webhook","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2608,-416],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"WF1jfUkxVMbcGRg6","name":"Supabase account RJ"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check_if_lead_exists","leftValue":"={{ $('Supabase: Get Lead Data on Webhook').item.json.id == null }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"id":"5d857047-428f-4ac8-9500-dce4a9d721b7","name":"If Lead Não Existe, Criar","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2384,-416]},{"parameters":{"useCustomSchema":false,"resource":"row","operation":"create","tableId":"followup_clientes","dataToSend":"defineBelow","fieldsUi":{"fieldValues":[{"fieldId":"remoteid","fieldValue":"={{ $('Variáveis Globais').item.json.remoteid }}"},{"fieldId":"ultimamensagem","fieldValue":"={{ $('Webhook').item.json.body.data.message.conversation }}"},{"fieldId":"nome","fieldValue":"={{ $('Webhook').item.json.body.data.pushName }}"},{"fieldId":"ultimaatividade","fieldValue":"={{ $now }}"}]}},"id":"fbfa7300-466d-401c-9b2e-bf626929cf7e","name":"Supabase: Criar Novo Lead","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2160,-512],"credentials":{"supabaseApi":{"id":"WF1jfUkxVMbcGRg6","name":"Supabase account RJ"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"toBinary","sourceProperty":"data","binaryPropertyName":"data","options":{"fileName":"file.png","mimeType":"image/png"}},"id":"5d990608-6668-4b82-b62f-73fce8f2bc55","name":"Convert to File1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1280,320]},{"parameters":{"mode":"rules","rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e514e613-fd6a-48bd-b0ae-bae2448c810e","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.message.audioMessage || $('Webhook').item.json.body.data.message.viewOnceMessage.message.audioMessage || $('Webhook').item.json.body.data.message.ephemeralMessage.message.audioMessage }}","rightValue":"audioMessage","operator":{"type":"object","operation":"exists","singleValue":true},"id":"c9a7b9fa-752e-487a-8ac2-ffb904d21521"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e434dd-1268-421d-b81b-3a5e90ed9550","leftValue":"={{ $('Webhook').item.json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ead847ea-debe-4c53-bc85-e658f6f79321","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"documentMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"document"}]},"options":{}},"id":"e2d9dcdb-9811-4def-b6f2-9af58eed3121","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-1936,-464]},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","binaryPropertyName":"data","options":{}},"id":"fb26dc32-f4d0-4c6d-90a9-cf330a31a3d8","name":"Converte documento","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1472,496]},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"}]},"includeOtherFields":false,"options":{}},"id":"bd2fbcf6-7e1f-444d-a922-6bdb28eb86db","name":"Edit Fields5","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1504,320]},{"parameters":{"mode":"append","numberInputs":4},"id":"33164ee5-9eaf-46bb-8888-86899b7488a1","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-240,-368]},{"parameters":{"operation":"pdf","binaryPropertyName":"data","options":{}},"id":"bebe477d-de5b-4a06-bf28-6b1d504cded0","name":"Extract from File1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1248,496]},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"50cebc66-2dbc-4c7a-a09e-83ffb0f52991","name":"textMessage","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"},{"id":"2fee3c6f-d1ea-4ab4-b043-a303fac29d1f","name":"id","value":"={{ $('Webhook').item.json.body.data.key.id }}","type":"string"},{"id":"48362c3d-4c8e-409c-8c56-0a9a10718164","name":"timestamp","value":"={{ $('Webhook').item.json.body.data.messageTimestamp.toDateTime('s') }}","type":"string"}]},"includeOtherFields":false,"options":{}},"id":"bdfc4072-539e-4786-9e90-5e7e6e239013","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1152,-1264]},{"parameters":{"fieldToSplitOut":"message_part","include":"noOtherFields","options":{}},"id":"af84a9ed-e0b5-41dd-bf4b-8a02f5868b22","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3648,-336]},{"parameters":{"mode":"rules","rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fa9ff038-f7a6-48e7-9700-dbb3fa18069a","leftValue":"={{ String($json.messages).includes('http') && \n$('Webhook').item.json[\"body\"][\"data\"][\"messageType\"] !== 'audioMessage' }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"link"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c51fd6cf-7d5a-4555-99c3-92af25cb04cb","leftValue":"={{ $json.messages }}","rightValue":"\\n","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"mensagem-junta"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messages.match(/https:\\/\\/.*\\.(jpeg|jpg|png|webp)/g) != null }}","rightValue":"https","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"d35f0f03-360e-47e9-a72b-9749a4323ded"}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84b6e91c-5e7c-4604-8609-f8a0e6fa8b01","leftValue":"={{ $json.messages }}","rightValue":"\\n","operator":{"type":"string","operation":"notRegex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"}]},"looseTypeValidation":false,"options":{}},"id":"0e6b418c-5c82-4467-b3fc-757118e057be","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[4320,-848]},{"parameters":{"curlImport":"","method":"POST","url":"={{ $('Variáveis Globais').item.json['http-evolution'] }}/message/sendMedia/{{ $('Variáveis Globais').item.json['instancia-evolution'] }}","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variáveis Globais').item.json['apikey-evo'] }}"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Webhook').item.json.body.data.key.remoteJid }}\",\n  \"text\": \"{{ $json.message_part }}\",\n  \"delay\": 2000\n}","options":{},"infoMessage":""},"id":"642ceaea-7e77-4061-a071-bf8fb86f3db3","name":"Responde imagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4544,-528]},{"parameters":{"splitInBatchesNotice":"","batchSize":1,"options":{}},"id":"1fe8ab4c-bbc4-4dba-9db1-c3bcb69cc94e","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3872,-336]},{"parameters":{"resume":"timeInterval","amount":2,"unit":"seconds"},"id":"bcb34974-810a-4f25-a903-08b1a386f0d6","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4096,-816],"webhookId":"3e5e0ccd-9896-49c2-9b56-680dee39fa43"},{"parameters":{},"id":"3de88860-f209-4d16-acad-08896aabc907","name":"No Operation, do nothing3","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4096,-1008]},{"parameters":{"curlImport":"","method":"POST","url":"={{ $('Variáveis Globais').item.json['http-evolution'] }}/message/sendText/{{ $('Variáveis Globais').item.json['instancia-evolution'] }}","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variáveis Globais').item.json['apikey-evo'] }}"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Webhook').item.json.body.data.key.remoteJid }}\",\n  \"text\": \"{{ $json.message_part }}\",\n  \"delay\": 2000\n}","options":{},"infoMessage":""},"id":"93b89ef5-23e2-48cf-810f-46cc30b2b7b7","name":"Responde texto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4544,-1104]},{"parameters":{"curlImport":"","method":"POST","url":"={{ $('Variáveis Globais').item.json['http-evolution'] }}/message/sendText/{{ $('Variáveis Globais').item.json['instancia-evolution'] }}","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variáveis Globais').item.json['apikey-evo'] }}"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Webhook').item.json.body.data.key.remoteJid }}\",\n  \"text\": \"{{ $json.message_part }}\",\n  \"delay\": 2000\n}","options":{},"infoMessage":""},"id":"d8b4b06d-3379-4a68-8351-81cea1821692","name":"Responde texto3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4544,-720]},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"cf25c144-9a6c-4b42-8614-278e0f55cf14","name":"base64","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"}]},"includeOtherFields":false,"options":{}},"id":"01b4d5d1-2ac7-49c2-87c9-ea3afc2d54b6","name":"Var base","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1264,-336]},{"parameters":{"resource":"audio","operation":"transcribe","fileSizeLimitNotice":" ","binaryPropertyName":"data","options":{}},"id":"3c22949b-fb19-4eb3-ac85-bb6f55927ffd","name":"Transcrevendo audios1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-688,-384],"credentials":{"openAiApi":{"id":"FXbxMD0PGGyX5kPw","name":"OpenAi account JS"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce2beff4-8348-4e0f-9eef-7db90c574a59","leftValue":"={{ $('Webhook').item.json.body.data.message.base64 }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"id":"5447aa5a-d891-47e4-9773-98c8c058a24e","name":"IF API NÃO ENVIA B64","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1488,-432]},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","binaryPropertyName":"data","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"id":"f17fe5d6-dba8-4cb0-b884-5d63b29cbe41","name":"Convert to File3","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-976,-672]},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Variáveis Globais').item.json[\"instancia-evolution\"] }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}","convertToMp4":true},"id":"05d6c0ac-7a10-4bfe-9f67-8abf2443d9db","name":"Evolution API2","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1264,-608],"alwaysOutputData":false,"retryOnFail":true,"waitBetweenTries":5000,"credentials":{"evolutionApi":{"id":"XPKqMRkBcSRjCNLc","name":"evolution_cloudfy"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","binaryPropertyName":"data","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"id":"6425e9f9-c427-49ab-bde5-92cddccd9954","name":"Convert to File2","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-880,-336]},{"parameters":{"operation":"push","list":"={{ $('Merge1').item.json.id }}","messageData":"={{ $('Merge1').item.json.textMessage }}","tail":true},"id":"9b8de7f8-26a1-42b7-b770-4c9dc4a184b3","name":"Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1104,-240],"retryOnFail":true,"maxTries":2,"credentials":{"redis":{"id":"CIZlHHIG6vG1xVm3","name":"redis-cloudfy-RJ"}}},{"parameters":{"operation":"get","propertyName":"propertyName","key":"={{ $('Merge1').item.json.id }}","keyType":"automatic","options":{}},"id":"a7153e7b-ec80-4086-b536-f9641cff7b05","name":"Redis1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1552,-240],"retryOnFail":true,"maxTries":2,"credentials":{"redis":{"id":"CIZlHHIG6vG1xVm3","name":"redis-cloudfy-RJ"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"21fd20d7-f940-4a66-91d5-5ea4c031bb50","leftValue":"={{ $json.propertyName.last() }}","rightValue":"={{ $('Merge1').item.json.text }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"2ba8eb58-63c2-47c1-81c4-e33446b753a7","leftValue":"={{ $json.propertyName.last() }}","rightValue":"={{ $('Merge1').item.json.textMessage }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":false,"options":{}},"id":"753cd38e-8e87-4f13-a41d-05e17a2a438c","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1776,-240]},{"parameters":{"operation":"delete","key":"={{ $json.listaMensagens }}"},"id":"bc02f9b6-fc4c-483e-9adb-419add8a4329","name":"Redis2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2224,-336],"retryOnFail":true,"maxTries":2,"credentials":{"redis":{"id":"CIZlHHIG6vG1xVm3","name":"redis-cloudfy-RJ"}}},{"parameters":{"resume":"timeInterval","amount":5,"unit":"seconds"},"id":"53b4dd80-9e7a-423d-b494-6e986c512074","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1328,-240],"webhookId":"d26c84b2-c05f-4c28-a3c9-07bcf84418d7"},{"parameters":{},"id":"4908282a-da69-478a-95ec-5dce1b7a38dd","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2000,-144]},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"37f63b88-4a52-4421-aa95-db9114e521bc","name":"listaMensagens","value":"={{ $json.propertyName.join(', ') }}","type":"string"}]},"includeOtherFields":false,"options":{}},"id":"9d922c80-cb5d-403d-ac26-da8afa62dedb","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2000,-336]},{"parameters":{"splitInBatchesNotice":"","batchSize":1,"options":{}},"id":"61389ee8-af0b-4372-a8ee-9f7368d1517b","name":"Loop Over Items2","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-976,-864]},{"parameters":{"resume":"timeInterval","amount":8,"unit":"seconds"},"id":"1b5d2d5a-2763-4873-9b5e-f8335dbca1a3","name":"Wait3","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-688,-576],"webhookId":"4baa6261-9f4a-46b7-aa73-d239ae0c9a8c"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"910793d3-00f0-4d75-808c-e5ea86e165e3","leftValue":"={{ $('Variáveis Globais').item.json.telefone }}","rightValue":"@lid","operator":{"type":"string","operation":"notEndsWith"}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"id":"fa0551f2-bbbd-4084-94dc-82ca979b3a0c","name":"If2","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4176,-704]},{"parameters":{"curlImport":"","method":"POST","url":"={{ $('Variáveis Globais').item.json['http-evolution'] }}/message/sendText/{{ $('Variáveis Globais').item.json['instancia-evolution'] }}","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variáveis Globais').item.json['apikey-evo'] }}"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Webhook').item.json.body.data.key.remoteJid }}\",\n  \"text\": \"{{ $json.message_part }}\",\n  \"delay\": 2000\n}","options":{},"infoMessage":""},"id":"4c2dee3e-e271-4e4f-8974-171782bcb171","name":"Responde texto4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4544,-912]},{"parameters":{"operation":"set","key":"={{ $json.telefone.split('@')[0] }}_block","value":"true","keyType":"string","expire":true,"ttl":86400},"id":"34c10ed7-0b59-4a7d-97b7-0d3c5a5d4da2","name":"Bloquear IA1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3280,-992],"retryOnFail":true,"maxTries":2,"credentials":{"redis":{"id":"CIZlHHIG6vG1xVm3","name":"redis-cloudfy-RJ"}}},{"parameters":{"operation":"get","propertyName":"bloquear","key":"={{ $json.telefone.split('@')[0] }}_block","keyType":"automatic","options":{}},"id":"9c9994ff-bc12-408e-b1e7-9d78408bb40a","name":"Get bloquear1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3504,-512],"alwaysOutputData":false,"retryOnFail":true,"maxTries":2,"credentials":{"redis":{"id":"CIZlHHIG6vG1xVm3","name":"redis-cloudfy-RJ"}},"onError":"continueRegularOutput"},{"parameters":{"useCustomSchema":false,"resource":"row","operation":"update","tableId":"followup_clientes","filterType":"manual","matchType":"anyFilter","filters":{"conditions":[{"keyName":"remoteid","condition":"eq","keyValue":"={{ $json.telefone.replace('@s.whatsapp.net', '') }}"}]},"dataToSend":"defineBelow","fieldsUi":{"fieldValues":[{"fieldId":"bloqueado","fieldValue":"true"}]}},"id":"19d5e1da-f7ff-47b4-905c-e2b28f05e894","name":"Update a row1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3056,-992],"credentials":{"supabaseApi":{"id":"WF1jfUkxVMbcGRg6","name":"Supabase account RJ"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8f58ce0c-0986-476e-ae08-842d0016b7f9","leftValue":"={{ $('Webhook').item.json.body.data.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"id":"38cfd4ad-1ef3-412f-93fe-6e2dd0c3a5d1","name":"If11","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3728,-704]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c99f8e8b-6da8-4bcf-822d-8f65bccbb3ca","leftValue":"={{ $json.bloquear }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"id":"ddbcfa6b-9a03-494e-9279-716aa75d601b","name":"If12","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3280,-512]},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"a7b6f99e-f4d3-47a6-955e-14dbdbc9d6ba","name":"telefone","value":"={{ $('Edit Fields8').item.json.telefone }}","type":"string"}]},"includeOtherFields":false,"options":{}},"id":"624e3484-521c-496e-a715-5bdcbeff95ec","name":"Edit Fields9","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3056,-416]},{"parameters":{},"id":"2ac48217-2825-42be-9a30-061f9b7a0b2a","name":"No Operation, do nothing7","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3056,-608]},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"74a013da-0939-4560-a47b-7e3961ed33ba","name":"telefone_geral","value":"={{ $json.telefone }}","type":"string"}]},"includeOtherFields":false,"options":{}},"id":"21cd17f9-7f71-46aa-a71b-61b28d0b166d","name":"tratamento1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2832,-416]},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"733717b4-60f6-46d7-9a40-86afec544e0d","name":"lid","value":"={{ $('Variáveis Globais').item.json.remoteid }}","type":"string"},{"id":"f041e152-5222-41af-a78d-98d9e54faf52","name":"telefone","value":"={{ $('Variáveis Globais').item.json.telefone }}","type":"string"},{"id":"0877d96e-be3a-4a60-9b7f-59ff5fe5fe73","name":"Fromme","value":"={{ $('Variáveis Globais').item.json.fromMe }}","type":"string"}]},"includeOtherFields":false,"options":{}},"id":"64f1d5bd-0a38-42c1-9707-3290bb59976d","name":"Edit Fields8","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3952,-704]},{"parameters":{"resource":"database","operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"base_clientes","mode":"list","cachedResultName":"base_clientes"},"deleteCommand":"truncate","restartSequences":false,"options":{}},"id":"d7e67751-a561-4096-8ec9-b03b25dbc43f","name":"Limpar_base_clientes","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-5280,496],"credentials":{"postgres":{"id":"jrsbA4DhL4ybVOSn","name":"postgres_cloudfy"}}},{"parameters":{"notice":"","rule":{"interval":[{"field":"hours","hoursInterval":2,"triggerAtMinute":0}]}},"id":"4dbad37f-551e-4be4-9ffd-527dbbaf5bc3","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-5280,2256]},{"parameters":{"useCustomSchema":false,"resource":"row","operation":"getAll","tableId":"followup_clientes","returnAll":true,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"keyName":"encerrado","condition":"eq","keyValue":"false"},{"keyName":"status_atendimento","condition":"neq","keyValue":"EM_ANALISE"}]}},"id":"7453f345-8bce-4a42-947d-65b4b4d83656","name":"Supabase4","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4832,2256],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"WF1jfUkxVMbcGRg6","name":"Supabase account RJ"}}},{"parameters":{"useCustomSchema":false,"resource":"row","operation":"update","tableId":"followup_clientes","filterType":"manual","matchType":"anyFilter","filters":{"conditions":[{"keyName":"remoteid","condition":"eq","keyValue":"={{ $('Supabase4').item.json.remoteid }}"}]},"dataToSend":"defineBelow","fieldsUi":{"fieldValues":[{"fieldId":"Follow-up 2","fieldValue":"true"}]}},"id":"880bea72-b3f7-468c-91ef-2f6caff7f35d","name":"Supabase5","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2336,2064],"credentials":{"supabaseApi":{"id":"WF1jfUkxVMbcGRg6","name":"Supabase account RJ"}}},{"parameters":{"useCustomSchema":false,"resource":"row","operation":"update","tableId":"followup_clientes","filterType":"manual","matchType":"anyFilter","filters":{"conditions":[{"keyName":"remoteid","condition":"eq","keyValue":"={{ $json.key.remoteJid }}"}]},"dataToSend":"defineBelow","fieldsUi":{"fieldValues":[{"fieldId":"Follow-up 1","fieldValue":"true"}]}},"id":"6f5cbbac-41c0-478b-b028-d44daf91b9ad","name":"Supabase6","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2336,1584],"credentials":{"supabaseApi":{"id":"WF1jfUkxVMbcGRg6","name":"Supabase account RJ"}}},{"parameters":{"useCustomSchema":false,"resource":"row","operation":"update","tableId":"followup_clientes","filterType":"manual","matchType":"anyFilter","filters":{"conditions":[{"keyName":"remoteid","condition":"eq","keyValue":"={{ $('Supabase4').item.json.remoteid }}"}]},"dataToSend":"defineBelow","fieldsUi":{"fieldValues":[{"fieldId":"Follow-up 3","fieldValue":"true"},{"fieldId":"encerrado","fieldValue":"true"}]}},"id":"5af57ee3-6951-455e-b397-85076936ef13","name":"Supabase7","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2336,2544],"credentials":{"supabaseApi":{"id":"WF1jfUkxVMbcGRg6","name":"Supabase account RJ"}}},{"parameters":{"splitInBatchesNotice":"","batchSize":"=1","options":{}},"id":"4488ca26-c8f5-469a-bb97-ef5ea8ba4a40","name":"Loop Over Items4","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2560,1776]},{"parameters":{"fieldToSplitOut":"output.messages","include":"noOtherFields","options":{"destinationFieldName":"output"}},"id":"b1562647-c081-4a7b-9dfc-934520dc5afa","name":"Split de Mensagem2","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2784,1776]},{"parameters":{"resume":"timeInterval","amount":1,"unit":"seconds"},"id":"395c7072-30ab-4c5b-9222-75c22eba90d1","name":"1 segundo1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2112,1856],"webhookId":"13aed2e0-ecff-4a79-bbcb-5d2473b78f52"},{"parameters":{"notice":"","model":"gpt-4o-mini","options":{}},"id":"cf86a6a0-8546-4c9b-8c00-cf2204ce512a","name":"OpenAI9","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-3136,1904],"credentials":{"openAiApi":{"id":"FXbxMD0PGGyX5kPw","name":"OpenAi account JS"}}},{"parameters":{"notice":"","schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}","autoFix":false},"id":"41c102b9-8459-415c-94ac-f8e4190c8dbe","name":"OutputParser2","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-3008,2384]},{"parameters":{"notice":"","promptType":"define","text":"=Whatsapp message to be splitted and formated: {{ $json.message.content }}","hasOutputParser":true,"needsFallback":false,"messages":{"messageValues":[{"type":"SystemMessagePromptTemplate","message":"=Por favor, gere a saída no seguinte formato JSON:\n{\n  \"messages\": [\n    \"splitedMessage\"\n    \n  ]\n}\n\nAs mensagens devem ser divididas de forma natural, afinal estamos conversando com um humano, não é mesmo?\n\nCertifique-se de que a resposta siga exatamente essa estrutura, incluindo os colchetes e as aspas.\n\n### Jamais separe uma mensagem vazia.\n### Jamais duplique mensagens\n\n### Sempre que tiver um link envie ele de forma separada sem alteração\n\n### Certifique-se de que a resposta siga exatamente essa estrutura abaixo, deixando somente entre '*' para negrito e nunca fugindo das demais regras de markdown do whatsapp:\n\t\t\t- *negrito* (substitua '**' por '*')\n\t\t\t- ~tachado~ (caso seja algo que foi excluído ou alterado)\n\t\t\t- _itálico_.(extremamente raro)\n            - `link` (usar sempre em todos os links)"}]}},"id":"7865d95e-9907-40ac-b473-7eed599dc728","name":"Parser  Chain2","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[-3136,2160]},{"parameters":{"fieldToSplitOut":"output.messages","include":"noOtherFields","options":{"destinationFieldName":"output"}},"id":"89f98f8b-d6e6-4b6d-a127-022107be111c","name":"Split de Mensagem3","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2784,2256]},{"parameters":{"resume":"timeInterval","amount":1,"unit":"seconds"},"id":"61ff36d9-56b7-4775-bce0-4bc32258e94d","name":"1 segundo","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2112,2336],"webhookId":"124d177c-f04e-41be-9650-ca1ee963266b"},{"parameters":{"notice":"","model":"gpt-4o-mini","options":{}},"id":"ef067d92-4ed9-4a6d-a702-ae63c6eb2882","name":"OpenAI10","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-3136,2384],"credentials":{"openAiApi":{"id":"FXbxMD0PGGyX5kPw","name":"OpenAi account JS"}}},{"parameters":{"notice":"","schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}","autoFix":false},"id":"b68467c4-8f44-4d37-9611-7ede7869e8b8","name":"OutputParser3","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-3008,2960]},{"parameters":{"notice":"","promptType":"define","text":"=Whatsapp message to be splitted and formated: {{ $json.message.content }}","hasOutputParser":true,"needsFallback":false,"messages":{"messageValues":[{"type":"SystemMessagePromptTemplate","message":"=Por favor, gere a saída no seguinte formato JSON:\n{\n  \"messages\": [\n    \"splitedMessage\"\n    \n  ]\n}\n\nAs mensagens devem ser divididas de forma natural, afinal estamos conversando com um humano, não é mesmo?\n\nCertifique-se de que a resposta siga exatamente essa estrutura, incluindo os colchetes e as aspas.\n\n### Jamais separe uma mensagem vazia.\n### Jamais duplique mensagens\n\n### Sempre que tiver um link envie ele de forma separada sem alteração\n\n### Certifique-se de que a resposta siga exatamente essa estrutura abaixo, deixando somente entre '*' para negrito e nunca fugindo das demais regras de markdown do whatsapp:\n\t\t\t- *negrito* (substitua '**' por '*')\n\t\t\t- ~tachado~ (caso seja algo que foi excluído ou alterado)\n\t\t\t- _itálico_.(extremamente raro)\n            - `link` (usar sempre em todos os links)"}]}},"id":"d0c43386-a3e8-4890-9167-b1d629f4e8ad","name":"Parser  Chain3","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[-3136,2736]},{"parameters":{"fieldToSplitOut":"output.messages","include":"noOtherFields","options":{"destinationFieldName":"output"}},"id":"07083b37-d247-4758-b25c-2cc59764e5c5","name":"Split de Mensagem4","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2784,2736]},{"parameters":{"resume":"timeInterval","amount":1,"unit":"seconds"},"id":"afff1a02-0374-4eb8-a5fa-1bdfe4e0c532","name":"1 segundo2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2112,2816],"webhookId":"d46c4967-f750-4b5f-945f-a5ce5cc798a0"},{"parameters":{"notice":"","model":"gpt-4o-mini","options":{}},"id":"22b7f8b3-b44d-4cea-a280-551c2ed9adc9","name":"OpenAI11","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-3136,2960],"credentials":{"openAiApi":{"id":"FXbxMD0PGGyX5kPw","name":"OpenAi account JS"}}},{"parameters":{"splitInBatchesNotice":"","batchSize":"=1","options":{}},"id":"7561a8c6-d365-4c26-8095-cfbc22af38aa","name":"Loop Over Items7","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2560,2736]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"588018cc-36aa-48cf-b8b7-973b3739e062","leftValue":"={{ $now }}","rightValue":"={{ $json[\"ultimaatividade\"] ? $json[\"ultimaatividade\"].toDateTime().plus(4, 'hour') : $now }}","operator":{"type":"dateTime","operation":"after"}},{"id":"ec84206d-0c6d-4f55-83fa-ec50db19a88e","leftValue":"={{ $json['Follow-up 1'] || false }}","rightValue":"false","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"b79cbbff-3d0c-49e3-9671-41e1a77a4f3a","leftValue":"={{ $json.encerrado || false }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"id":"6272d408-a778-4b8b-be67-05b62d1b3c1b","name":"4h","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-4384,1776]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff5b2b1c-9577-4aed-ac69-fe448647aaac","leftValue":"={{ $now }}","rightValue":"={{ $json[\"ultimaatividade\"] ? $json[\"ultimaatividade\"].toDateTime().plus(24, 'hour') : $now }}","operator":{"type":"dateTime","operation":"after"}},{"id":"e6030ea9-b4e0-4652-97ed-2e4e8958c3bf","leftValue":"={{ $json['Follow-up 1'] || false }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"8bc463c2-a24a-4405-94d3-9de8e3e1e618","leftValue":"={{ $json.encerrado || false }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"bd68f0bb-8186-4a55-b939-8263ac39a46e","leftValue":"={{ $json['Follow-up 2'] }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"id":"69c85c25-6a6e-42f6-94a0-53bd5f620502","name":"24h","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-4384,2256]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"283f3db1-6bcb-4d3d-b6e5-b50d368958ae","leftValue":"={{ $now }}","rightValue":"={{ $json[\"ultimaatividade\"] ? $json[\"ultimaatividade\"].toDateTime().plus(48, 'hour') : $now }}","operator":{"type":"dateTime","operation":"after"}},{"id":"4b3a5cc1-f315-4466-9025-d2f994cffa26","leftValue":"={{ $json['Follow-up 2'] || false }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"e2c0ed7f-3661-4590-b2e1-84aae041e851","leftValue":"={{ $json.encerrado || false }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"id":"f6f17237-e69d-4d7e-b06e-00a08f34cda2","name":"48h","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-4384,2736]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a1b2c3d4-e5f6-4g7h-8i9j-0k1l2m3n4o5p","leftValue":"={{ $now.setZone('America/Manaus').hour }}","rightValue":8,"operator":{"type":"number","operation":"gte"}},{"id":"b2c3d4e5-f6g7-4h8i-9j0k-1l2m3n4o5p6q","leftValue":"={{ $now.setZone('America/Manaus').hour }}","rightValue":19,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"id":"77f25759-680f-4fce-a1cb-b8b4c84bcc1b","name":"Filtro Horário Comercial1","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-4608,2256]},{"parameters":{"curlImport":"","method":"POST","url":"https://awlegaltech-evolution.cloudfy.live/message/sendText/RESOLVAJA","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variáveis Globais1').item.json['apikey-evo'] }}"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('4h').item.json.remoteid }}\",\n  \"text\": \"{{ $('Split de Mensagem2').item.json.output }}\",\n  \"delay\": 3000,\n  \"presence\": \"composing\"\n}","options":{},"infoMessage":""},"id":"eceb5558-8706-40ac-ba11-d237dcbfc232","name":"Responde texto1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2336,1776]},{"parameters":{"notice":"","schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}","autoFix":false},"id":"e1c8a5ed-6f2f-4833-b265-8102717c69a3","name":"OutputParser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-3008,1904]},{"parameters":{"notice":"","promptType":"define","text":"=Whatsapp message to be splitted and formated: {{ $json.message.content }}","hasOutputParser":true,"needsFallback":false,"messages":{"messageValues":[{"type":"SystemMessagePromptTemplate","message":"=Por favor, gere a saída no seguinte formato JSON:\n{\n  \"messages\": [\n    \"splitedMessage\"\n    \n  ]\n}\n\nAs mensagens devem ser divididas de forma natural, afinal estamos conversando com um humano, não é mesmo?\n\nCertifique-se de que a resposta siga exatamente essa estrutura, incluindo os colchetes e as aspas.\n\n### Jamais separe uma mensagem vazia.\n### Jamais duplique mensagens\n\n### Sempre que tiver um link envie ele de forma separada sem alteração\n\n### Certifique-se de que a resposta siga exatamente essa estrutura abaixo, deixando somente entre '*' para negrito e nunca fugindo das demais regras de markdown do whatsapp:\n\t\t\t- *negrito* (substitua '**' por '*')\n\t\t\t- ~tachado~ (caso seja algo que foi excluído ou alterado)\n\t\t\t- _itálico_.(extremamente raro)\n            - `link` (usar sempre em todos os links)"}]}},"id":"409598e9-2f90-462c-9c9c-7c4ec7309252","name":"Parser  Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[-3136,1680]},{"parameters":{"splitInBatchesNotice":"","batchSize":"=1","options":{}},"id":"95ebc092-c076-41bf-8e7c-6f14657e3500","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2560,2256]},{"parameters":{"resource":"text","operation":"message","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Você é a IA de recuperação da ResolvaJá.\nSua tarefa é analisar o histórico recente e decidir como reengajar o cliente de forma LEVE e PRESTATIVA.\n\nDADOS:\n- Nome do Cliente: {{ $json.nome }}\n- Histórico Recente:\n{{ $('Limit').item.json.message }}\n\nDIRETRIZES DE DECISÃO (Sherlock Holmes):\n\n1. LEIA A ÚLTIMA INTERAÇÃO:\n   - Quem falou por último? O Cliente ou Nós?\n   - O assunto está claro?\n\n2. REGRAS DE AÇÃO:\n\n   - CENÁRIO A (MUITO IMPORTANTE - CONTEXTO INCERTO):\n     Se não ficar claro em que fase o cliente está, ou se o histórico for curto/confuso, JAMAIS PERGUNTE \"QUAL O SEU PROBLEMA\".\n     -> AÇÃO: Pergunte se ele ficou com alguma dúvida ou se precisa de ajuda para continuar.\n     -> Exemplo: \"Olá, [Nome]! Notei que nossa conversa parou por aqui. Ficou com alguma dúvida ou precisa de ajuda para avançar?\"\n\n   - CENÁRIO B (COBRANÇA LEVE):\n     Nós fizemos uma pergunta específica (Ex: \"Qual sua profissão?\", \"Qual o banco?\") e ele não respondeu.\n     -> AÇÃO: Retome o assunto sutilmente.\n     -> Exemplo: \"Olá! Para seguirmos com sua análise, eu precisava apenas daquela informação.\"\n\n   - CENÁRIO C (PROMESSA):\n     O cliente disse \"Vou ver\", \"Já te mando\", \"Chegando em casa eu vejo\".\n     -> AÇÃO: Pergunte se conseguiu verificar.\n     -> Exemplo: \"E aí, [Nome], conseguiu dar uma olhada naquilo?\"\n\n   - CENÁRIO D (PARE IMEDIATAMENTE - SKIP):\n     Se a última mensagem nossa for \"Aguarde\", \"Em análise\", \"Até logo\", ou se o cliente enviou um ARQUIVO/IMAGEM recentemente (mesmo sem texto).\n     -> RESPOSTA OBRIGATÓRIA: SKIP\n\n3. FORMATO DA RESPOSTA:\n   - Se for enviar mensagem: Apenas o texto curto (máx 15 palavras).\n   - Se for para não enviar: Responda estritamente a palavra \"SKIP\" (sem ponto final, sem espaços extras).","role":"user"}]},"simplify":true,"jsonOutput":false,"options":{}},"id":"7c32bd7b-7097-4826-b9db-aa830edeead4","name":"Message a model","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3712,1776],"credentials":{"openAiApi":{"id":"FXbxMD0PGGyX5kPw","name":"OpenAi account JS"}}},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"fd4104e3-3fe4-448f-bdb5-455f45038aa8","name":"instancia-evolution","value":"=RESOLVAJA","type":"string"},{"id":"71eb4495-3bb4-4677-8d03-fdc2c8a14f3d","name":"http-evolution","value":"https://awlegaltech-evolution.cloudfy.live","type":"string"},{"id":"25dbde6b-cf16-4746-80e6-a1a91956dc51","name":"apikey-evo","value":"777C54930886-4958-A3AA-D0E58D2ED3F7","type":"string"}]},"includeOtherFields":false,"options":{}},"id":"a3020c9d-dfc1-43cb-b409-aa4c587937bf","name":"Variáveis Globais1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5056,2256]},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Variáveis Globais').item.json['instancia-evolution'] }}","messageId":"={{ $('Variáveis Globais').item.json.id_mensagem }}","convertToMp4":false},"id":"11769052-3e6a-488f-9221-52a24dcd0885","name":"BAIXADOR DO DOCUMENTO EM BASE64","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1696,496],"credentials":{"evolutionApi":{"id":"XPKqMRkBcSRjCNLc","name":"evolution_cloudfy"}}},{"parameters":{"notice":"","model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"id":"072babdb-e139-449e-aae4-1a215d03c18b","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2448,-112],"credentials":{"openAiApi":{"id":"FXbxMD0PGGyX5kPw","name":"OpenAi account JS"}}},{"parameters":{"aiAgentStarterCallout":"","agent":"toolsAgent","promptType":"define","text":"=mensagem: {{ $json.listaMensagens }} \ntelefone do cliente: {{ $('Variáveis Globais').item.json.remoteid }}","hasOutputParser":false,"options":{"systemMessage":"=# 🔒 REGRAS ABSOLUTAS (LEIA PRIMEIRO — NUNCA VIOLE)\n\n1. **NUNCA repita uma pergunta que o cliente já respondeu.** Antes de cada resposta, verifique as variáveis de estado abaixo.\n2. **NUNCA use a profissão como vocativo.** Sempre use o NOME. (\"Certo, João...\" ✅ | \"Certo, Pedreiro...\" ❌)\n3. **NUNCA prometa valores, indenizações ou resultados.** Você oferece ANÁLISE e AUDITORIA.\n4. **NUNCA tente ler/interpretar valores de documentos enviados.** Encaminhe para a equipe humana.\n5. **NUNCA mande a mensagem final (Fase 6) com separadores ||.** Mande em bloco único.\n6. **NUNCA diga \"Não entendi\".** Se o cliente mandar \"ok\", \"tá\", \"hmm\", continue o fluxo normalmente.\n7. **NUNCA gere duas respostas idênticas consecutivas.** Se a resposta planejada for igual à anterior, reformule.\n\n---\n\n# 📋 VARIÁVEIS DE ESTADO (Rastreie em toda mensagem)\n\nAntes de responder, identifique mentalmente o valor atual de cada variável:\n\n| Variável         | Status possível        |\n|------------------|------------------------|\n| `nome`           | ✅ Obtido / ❌ Pendente |\n| `tipo_problema`  | ✅ Obtido / ❌ Pendente |\n| `profissao`      | ✅ Obtido / ❌ Pendente |\n| `documento`      | ✅ Recebido / ❌ Pendente |\n| `banco`          | ✅ Obtido / ❌ Pendente |\n| `fase_atual`     | 1 / 2 / 3 / 4 / 5 / 6 |\n\nUse essas variáveis para decidir qual é a próxima ação. **Nunca pergunte algo que já tem valor ✅.**\n\n---\n\n# 🎭 IDENTIDADE: GUEDES\n\n- **Cargo:** Auditor Líder da ResolvaJá.\n- **Tom:** Firme, seguro e educado. Linguagem simples e acessível, mas com peso técnico-jurídico.\n- **Postura:** Você é uma autoridade que resolve problemas. Não vende, não implora, não se desculpa excessivamente.\n- **Clareza:** Você COMBATE juros abusivos. Você NÃO vende empréstimos. Se o cliente confundir, corrija imediatamente.\n\n---\n\n# 🏢 SCRIPT: OBJEÇÕES COMUNS\n\n**\"Onde fica o escritório?\" / \"É golpe?\" / \"Quero ir aí\":**\n\n> \"Somos uma LawTech 100% digital. Operamos online para atender o Brasil inteiro com agilidade e sem cobrar consulta inicial. Não temos atendimento de balcão físico — toda a auditoria é feita digitalmente com validade jurídica. Isso garante segurança e redução de custos pra você.\"\n\n**\"Quanto custa?\" / \"Como funciona?\" (antes de informar profissão):**\n\n> \"A análise inicial é gratuita, sem compromisso. Mas antes de eu verificar se o seu caso se enquadra, preciso de uma informação: qual é a sua profissão atual?\"\n\n---\n\n# 🧭 FLUXO OBRIGATÓRIO (FASES)\n\nSiga na ordem. Nunca pule etapa. Nunca repita etapa já concluída.\n\n---\n\n## 📍 FASE 1 — IDENTIFICAÇÃO\n\n**Pré-condição:** Início de conversa E `nome` = ❌\n\n**Verificação:** O cliente já disse o nome em algum momento anterior da conversa?\n- **SIM →** Pule para Fase 2.\n- **NÃO →** Execute o script abaixo.\n\n**Script:**\n\n> \"Olá! Aqui é o Guedes, da ResolvaJá.\" || \"Tudo bem?\" || \"Para eu verificar a viabilidade do seu caso, comece me dizendo: qual é o seu nome completo?\"\n\n**Se a conversa for retomada (cliente já interagiu antes):** NÃO repita a saudação \"Olá! Aqui é o Guedes\". Retome de onde parou:\n\n> \"[Nome], estamos retomando o seu atendimento. Vamos continuar de onde paramos?\"\n\n---\n\n## 📍 FASE 2 — TRIAGEM DO PROBLEMA\n\n**Pré-condição:** `nome` = ✅ E `tipo_problema` = ❌\n\n**Script:**\n\n> \"Prazer em falar com você, [Nome]!\" || \"Aqui na ResolvaJá, somos especialistas em auditar contratos e identificar cobranças indevidas de juros.\" || \"Me diz: o seu problema é com **Juros de Empréstimo/Conta**, **Financiamento de Veículo** ou **Empréstimo Consignado**?\"\n\n---\n\n## 📍 FASE 3 — QUALIFICAÇÃO (PROFISSÃO)\n\n**Pré-condição:** `nome` = ✅ E `tipo_problema` = ✅ E `profissao` = ❌\n\n**Scripts por tipo de problema:**\n\n**Juros de Empréstimo/Conta:**\n> \"Entendido, [Nome]. Vamos fazer uma varredura nesse contrato pra verificar se tem cobrança indevida.\" || \"Para montar sua ficha de auditoria, me diz: qual é a sua profissão atual?\"\n\n**Financiamento de Veículo:**\n> \"Entendido, [Nome]. Vamos analisar esse financiamento pra verificar se os juros estão dentro do legal.\" || \"Para abrir sua ficha, qual é a sua profissão atual?\"\n\n**Empréstimo Consignado:**\n> \"Entendido, [Nome]. Consignado é uma das áreas onde os bancos mais cobram juros acima do teto permitido. Vamos auditar esse contrato.\" || \"Para abrir sua ficha, qual é a sua profissão atual?\"\n\n---\n\n## 📍 FASE 4 — SOLICITAÇÃO DE DOCUMENTO\n\n**Pré-condição:** `nome` = ✅ E `tipo_problema` = ✅ E `profissao` = ✅ E `documento` = ❌\n\n**Scripts por tipo de problema:**\n\n**Juros de Empréstimo/Conta:**\n> \"Certo, [Nome]. Agora preciso do material para a auditoria.\" || \"Me manda a foto ou PDF do seu extrato bancário ou contrato aqui no chat.\" || \"Assim que eu receber, encaminho direto pra equipe de análise.\"\n\n**Financiamento de Veículo:**\n> \"Certo, [Nome]. Agora preciso do contrato de financiamento.\" || \"Manda a foto ou PDF aqui no chat que já encaminho pra auditoria.\"\n\n**Empréstimo Consignado:**\n> \"Certo, [Nome]. Agora preciso do contrato ou do extrato de desconto em folha do consignado.\" || \"Manda a foto ou PDF aqui no chat que já encaminho pra auditoria.\"\n\n---\n\n## 📍 FASE 5 — SUPORTE TÉCNICO (TUTORIAL)\n\n**Pré-condição:** Cliente está na Fase 4 e pediu ajuda para obter o documento (\"como baixo isso?\", \"não sei pegar\", \"como faço?\").\n\n**Ação primária:** Consulte a base de conhecimento (RAG) para o banco/companhia específica do cliente.\n\n**Script genérico (se não souber o banco):**\n> \"Sem problema! Me diz qual é o seu banco que te passo o passo a passo certinho.\"\n\n**Script com banco identificado:**\n> \"No app do [Banco], é assim:\" || \"Acesse o app > vá em Extratos ou Documentos > selecione o período > clique em Exportar PDF.\" || \"Se travar em algum passo, me avisa que te ajudo.\"\n\n**Se for Empréstimo Consignado:**\n> \"O contrato do consignado normalmente fica disponível no app do banco ou no portal do servidor/INSS.\" || \"Me diz qual é o banco e se você é servidor público, aposentado ou pensionista, que te passo o caminho certinho.\"\n\n---\n\n## 📍 FASE 6 — RECEBIMENTO DE DOCUMENTO E ENCERRAMENTO\n\n**Pré-condição:** Sistema sinaliza `[SISTEMA - ANÁLISE AUTOMÁTICA]` (arquivo recebido).\n\n**Protocolo obrigatório:**\n1. **NÃO LEIA o conteúdo do arquivo.** Não tente interpretar valores ou dados.\n2. **ACIONE a ferramenta LEADS AM** com: Nome, Profissão, Banco (se identificado).\n3. **ENVIE a mensagem final em bloco único (SEM separadores ||):**\n\n> \"Recebi sua documentação e já anexei ao seu processo, [Nome]. Encaminhei tudo para nossa equipe de auditoria, que vai fazer a conferência manual dos valores. A análise leva até 24 horas após o envio do documento, e eu te aviso aqui assim que o laudo estiver pronto. Obrigado pela confiança!\"\n\n---\n\n## 📍 TRATAMENTO DE EXCEÇÕES NO DOCUMENTO\n\n**Arquivo ilegível / imagem borrada:**\n> \"[Nome], o arquivo que você mandou ficou ilegível. Consegue tirar uma foto mais nítida ou mandar o PDF direto do app do banco?\"\n\n**Arquivo claramente errado (ex: selfie, meme):**\n> \"[Nome], parece que esse arquivo não é o documento que precisamos. Me manda a foto ou PDF do [extrato/contrato/comprovante] pra eu encaminhar pra auditoria.\"\n\n**Cliente manda áudio em vez de documento:**\n> \"[Nome], preciso do documento por escrito — foto ou PDF. Áudio não entra no sistema de auditoria. Me manda o arquivo que a gente continua.\"\n\n---\n\n# 🚨 REGRAS DE ESTILO E FORMATAÇÃO\n\n**Separadores (||):**\n- O `||` indica que o texto deve ser enviado como **mensagem separada** (balão novo no WhatsApp).\n- Use no máximo 3 separadores por turno (= 4 balões no máximo).\n- **PROIBIDO na Fase 6** (mensagem final). Mande tudo em um balão só.\n\n**Ganchos:**\n- Nunca termine uma mensagem com \"ponto final\" sem ação. Sempre finalize com uma **pergunta** ou **instrução de próximo passo**.\n- Exemplos: \"...qual é o seu banco?\", \"...me manda o documento aqui no chat.\"\n\n**Emojis:**\n- Uso moderado permitido apenas na saudação inicial (Fase 1). Nas demais fases, evite.\n\n**Tamanho das mensagens:**\n- Cada balão (entre ||) deve ter no máximo 2-3 frases. Mensagens longas demais são ignoradas no WhatsApp.\n\n---\n\n# 📌 RESUMO RÁPIDO DO FLUXO\n\n```\nFASE 1: Nome → FASE 2: Tipo do problema → FASE 3: Profissão → FASE 4: Documento → FASE 6: Encerramento\n                                                                       ↓ (se travar)\n                                                                   FASE 5: Tutorial\n```\n\n---\n\n*Fim do prompt.*"},"credentials":""},"id":"76d742e5-24aa-4b45-9e81-c2bd6a77ba18","name":"AI Agent1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2608,-336],"retryOnFail":false},{"parameters":{"notice":"","sessionIdType":"customKey","sessionKey":"={{ $('Variáveis Globais').item.json.remoteid }}","tableName":"n8n_chat_histories","contextWindowLength":10},"id":"8d2cf442-b15c-47bd-9a95-3ce23dd1fc4a","name":"Postgres Chat Memory1","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[2576,-112],"credentials":{"postgres":{"id":"jrsbA4DhL4ybVOSn","name":"postgres_cloudfy"}}},{"parameters":{"ragStarterCallout":"","mode":"retrieve-as-tool","toolName":"dados_RESOLVAJA","toolDescription":"Dados da RESOLVAJA","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"topK":3,"includeDocumentMetadata":true,"useReranker":false,"options":{}},"id":"cf775c21-ffdc-405c-b0d9-cb70b864288f","name":"Supabase Vector Store2","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[2704,-112],"credentials":{"supabaseApi":{"id":"WF1jfUkxVMbcGRg6","name":"Supabase account RJ"}}},{"parameters":{"notice":"","model":"text-embedding-3-small","options":{}},"id":"6de03448-9f6b-4f20-bbca-2ff51bbca049","name":"Embeddings OpenAI3","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2784,96],"credentials":{"openAiApi":{"id":"FXbxMD0PGGyX5kPw","name":"OpenAi account JS"}}},{"parameters":{"descriptionType":"auto","authentication":"oAuth2","resource":"sheet","operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1BqYV-beH7Wk_d8jamAae9EpXq4NWJ_T3ClA9yNxl-qA/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"LEADS AM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BqYV-beH7Wk_d8jamAae9EpXq4NWJ_T3ClA9yNxl-qA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nome do Lead":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nome_do_Lead', `Nome do cliente extraído da conversa`, 'string') }}","Telefone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefone', `Telefone do cliente (use o que está no input)`, 'string') }}","Profissão":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Profiss_o', ``, 'string') }}","Banco do Problema":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Banco_do_Problema', `Nome do Banco ou Instituição identificada`, 'string') }}","Status Atual":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status_Atual', `Sempre preencha com 'Pronto para Análise'`, 'string') }}","Responsável pela Análise":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Respons_vel_pela_An_lise', ``, 'string') }}","Notas da Análise":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notas_da_An_lise', `Coloque aqui o resumo do que foi encontrado no documento (Indícios, Taxas, Parecer do Auditor)`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Nome do Lead","displayName":"Nome do Lead","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Profissão","displayName":"Profissão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Banco do Problema","displayName":"Banco do Problema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status Atual","displayName":"Status Atual","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Responsável pela Análise","displayName":"Responsável pela Análise","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Notas da Análise","displayName":"Notas da Análise","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Notificação Enviada","displayName":"Notificação Enviada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observação","displayName":"Observação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"23b1f0f5-3967-46ca-80af-2f82da558329","name":"LEADS AM","type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[2992,-112],"credentials":{"googleSheetsOAuth2Api":{"id":"vSkg7cOQolyJLb3H","name":"Google Sheets account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":5,"unit":"minutes"}]},"authentication":"triggerOAuth2","documentId":{"__rl":true,"value":"1BqYV-beH7Wk_d8jamAae9EpXq4NWJ_T3ClA9yNxl-qA","mode":"list","cachedResultName":"LEADS RESOLVAJA ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BqYV-beH7Wk_d8jamAae9EpXq4NWJ_T3ClA9yNxl-qA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"LEADS AM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BqYV-beH7Wk_d8jamAae9EpXq4NWJ_T3ClA9yNxl-qA/edit#gid=0"},"event":"anyUpdate","includeInOutput":"new","options":{}},"id":"e5f5656c-b005-4705-8144-8693b94a0c03","name":"LEADS AM1","type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-5280,3264],"retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsTriggerOAuth2Api":{"id":"8zsKNaEVvpy306yO","name":"Google Sheets Trigger account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"63fa7c9b-ddc3-432a-b752-f41483ddb4da","leftValue":"={{ $json['Status Atual'] }}","rightValue":"Análise Concluída","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"eb824880-003d-4da8-8676-2502d62f4840","leftValue":"={{ $json['Notificação Enviada'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"id":"e18341b8-ce0a-4c21-8559-1bd8893e2d75","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4832,3264]},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"859b8663-7d8b-4218-84fa-f5d3cdb065db","name":"nome_cliente","value":"={{ $json['Nome do Lead'] }}","type":"string"},{"id":"c1c2871a-c708-4984-bf1b-927c8c87883c","name":"telefone_cliente","value":"={{ $json.Telefone }}","type":"string"},{"id":"7bb9c2cc-ebb4-4da8-a1dd-b50947ab9b0e","name":"resultado_analise","value":"={{ $json['Notas da Análise'] }}","type":"string"}]},"includeOtherFields":false,"options":{}},"id":"b498f348-b696-4d99-a38f-86cf54a6d06e","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4608,3072]},{"parameters":{"resource":"messages-api","operation":"send-text","instanceName":"RESOLVAJA","remoteJid":"={{ $('Edit Fields1').item.json.telefone_cliente }}","messageText":"={{ $json.output[0].content[0].text }}","options_message":{}},"id":"82edb955-ebd9-499b-909a-7846579960d1","name":"Enviar texto","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-4032,3072],"credentials":{"evolutionApi":{"id":"XPKqMRkBcSRjCNLc","name":"evolution_cloudfy"}}},{"parameters":{"resource":"text","operation":"response","modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"responses":{"values":[{"type":"text","role":"user","content":"=Você é Guedes, atendente especialista da ResolvaJá. Você está contatando um cliente PROATIVAMENTE pois a análise do caso dele ficou pronta.\n\nSeu objetivo é dar a boa notícia e confirmar o interesse dele em prosseguir.\n\nDADOS DO CLIENTE:\n- Nome: {{ $json.nome_cliente }}\n- Resultado da Análise: {{ $json.resultado_analise }}\n\nCom base nisso, escreva uma mensagem de WhatsApp (curta e direta) seguindo EXATAMENTE esta estrutura:\n\n1. Dê a boa notícia citando o resultado encontrado.\n   ⚠️ REGRA CRÍTICA: Ao citar o valor, escreva sempre \"ATÉ [Valor]\".\n   (Exemplo: Se o resultado for \"R$ 10.000\", você deve escrever \"identificamos um potencial de indenização de ATÉ R$ 10.000\". Nunca garanta o valor exato).\n\n2. Informe que, para explicar os detalhes técnicos, um especialista vai enviar um ÁUDIO explicativo em até 24 horas.\n\n3. Termine com a pergunta exata: \"Mas antes, me confirme: Você tem interesse em receber essa indenização?\""}]},"simplify":true,"builtInTools":{},"options":{}},"id":"7f3da75c-dc08-4253-90f6-955a78a54ca0","name":"GUEDES 2","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[-4384,3072],"credentials":{"openAiApi":{"id":"FXbxMD0PGGyX5kPw","name":"OpenAi account JS"}}},{"parameters":{"authentication":"oAuth2","resource":"sheet","operation":"update","documentId":{"__rl":true,"value":"1BqYV-beH7Wk_d8jamAae9EpXq4NWJ_T3ClA9yNxl-qA","mode":"list","cachedResultName":"LEADS RESOLVAJA ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BqYV-beH7Wk_d8jamAae9EpXq4NWJ_T3ClA9yNxl-qA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"LEADS AM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BqYV-beH7Wk_d8jamAae9EpXq4NWJ_T3ClA9yNxl-qA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Telefone":"={{ $('LEADS AM1').item.json.Telefone }}","Nome do Lead":"={{ $('LEADS AM1').item.json['Nome do Lead'] }}","Notificação Enviada":"Sim"},"matchingColumns":["Telefone"],"schema":[{"id":"Nome do Lead","displayName":"Nome do Lead","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Profissão","displayName":"Profissão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Banco do Problema","displayName":"Banco do Problema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data da Qualificação","displayName":"Data da Qualificação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status Atual","displayName":"Status Atual","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Responsável pela Análise","displayName":"Responsável pela Análise","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Notas da Análise","displayName":"Notas da Análise","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Notificação Enviada","displayName":"Notificação Enviada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"bc9fae6e-8b15-4d96-8abc-43c67656de61","name":"ATLZ DE NOTIF","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-3808,3072],"credentials":{"googleSheetsOAuth2Api":{"id":"vSkg7cOQolyJLb3H","name":"Google Sheets account"}}},{"parameters":{"useCustomSchema":false,"resource":"row","operation":"update","tableId":"followup_clientes","filterType":"manual","matchType":"anyFilter","filters":{"conditions":[{"keyName":"remoteid","condition":"eq","keyValue":"559299722659@s.whatsapp.net"}]},"dataToSend":"defineBelow","fieldsUi":{"fieldValues":[{"fieldId":"bloqueado","fieldValue":"false"}]}},"id":"04fa49d4-6e47-4fbf-94a5-bcd96b3be889","name":"LIMPAR BLOQUEIO","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5280,1360],"credentials":{"supabaseApi":{"id":"WF1jfUkxVMbcGRg6","name":"Supabase account RJ"}}},{"parameters":{"operation":"delete","key":"_block"},"id":"93e40a54-9ce6-4bc3-a184-08c2dab9f343","name":"LIMPAR BLOQUEIO1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-5056,1360],"credentials":{"redis":{"id":"CIZlHHIG6vG1xVm3","name":"redis-cloudfy-RJ"}}},{"parameters":{"mode":"rules","rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.message.conversation }}","rightValue":"equipe ResolvaJá chegou","operator":{"type":"string","operation":"contains"},"id":"749925f1-0967-4ab2-9f69-d98e1cd23211"}],"combinator":"and"},"renameOutput":true,"outputKey":"pausar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"663e47e1-77db-40b1-95ab-5bdcd482f4af","leftValue":"={{ $('Webhook').item.json.body.data.message.conversation }}","rightValue":"até logo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ativar"}]},"looseTypeValidation":false,"options":{}},"id":"042678aa-b333-4d42-9c24-25a75e1e36e0","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-3504,-896]},{"parameters":{"operation":"delete","key":"={{ $json.telefone.split('@')[0] }}_block"},"id":"af81c97e-de70-424d-b749-6507e1a9e3b1","name":"Redis3","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3280,-800],"retryOnFail":true,"maxTries":2,"credentials":{"redis":{"id":"CIZlHHIG6vG1xVm3","name":"redis-cloudfy-RJ"}}},{"parameters":{"useCustomSchema":false,"resource":"row","operation":"update","tableId":"followup_clientes","filterType":"manual","matchType":"anyFilter","filters":{"conditions":[{"keyName":"remoteid","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net', '') }}"}]},"dataToSend":"defineBelow","fieldsUi":{"fieldValues":[{"fieldId":"bloqueado","fieldValue":"false"}]}},"id":"5f5995d2-9647-4522-a23d-2ea8193e4484","name":"Update a row2","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3056,-800],"credentials":{"supabaseApi":{"id":"WF1jfUkxVMbcGRg6","name":"Supabase account RJ"}}},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"a1174926-aa5a-4661-a489-d5f04d6a75e5","name":"textMessage","value":"={{ $json.text }}","type":"string"},{"id":"58c72ac1-765d-41b0-ae53-00f8a2565c73","name":"id","value":"={{ $('Webhook').item.json.body.data.key.id }}","type":"string"}]},"includeOtherFields":false,"options":{}},"id":"548b5945-3422-4163-9f5d-ee8331787a5c","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,-384]},{"parameters":{"useCustomSchema":false,"resource":"row","operation":"update","tableId":"followup_clientes","filterType":"manual","matchType":"anyFilter","filters":{"conditions":[{"keyName":"remoteid","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"}]},"dataToSend":"defineBelow","fieldsUi":{"fieldValues":[{"fieldId":"ultimaatividade","fieldValue":"={{ $now }}"},{"fieldId":"ultimamensagem","fieldValue":"={{ $('Webhook').item.json.body.data.message.conversation }}"}]}},"id":"09c8b501-63ac-48a4-9ab8-4c0a12454ab7","name":"ATUALIZA DADOS DO LEAD","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2160,-320],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"WF1jfUkxVMbcGRg6","name":"Supabase account RJ"}}},{"parameters":{"useCustomSchema":false,"resource":"row","operation":"update","tableId":"followup_clientes","filterType":"manual","matchType":"anyFilter","filters":{"conditions":[{"keyName":"remoteid","condition":"eq","keyValue":"={{ $json.Telefone.split('@')[0] }}"}]},"dataToSend":"defineBelow","fieldsUi":{"fieldValues":[{"fieldId":"status_atendimento","fieldValue":"EM_ANALISE"},{"fieldId":"fase_atual","fieldValue":"EM_ANALISE"}]}},"id":"56c2615e-a080-431b-be2f-ca8988a24110","name":"Update a row","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4320,3264],"credentials":{"supabaseApi":{"id":"WF1jfUkxVMbcGRg6","name":"Supabase account RJ"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"479d4e64-3263-481e-942d-501609018065","leftValue":"Status Atual","rightValue":"Pronto para Análise","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"id":"dfd856d0-cb62-4107-8573-95f8c1ca7007","name":"If3","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4608,3360]},{"parameters":{},"id":"3f5f5f46-de99-4cf8-bfba-6e73016c3178","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4320,3456]},{"parameters":{"resource":"database","operation":"executeQuery","query":"SELECT message\nFROM n8n_chat_histories\nWHERE \"session_id\" = '{{ $json.remoteid }}'\nORDER BY \"id\" DESC\nLIMIT 5","options":{}},"id":"b9f81272-0c57-4f69-90e6-58c400dfb786","name":"Execute a SQL query","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-4160,1776],"credentials":{"postgres":{"id":"jrsbA4DhL4ybVOSn","name":"postgres_cloudfy"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d4f16218-6718-402f-aa9b-b2cc1edaa3f8","leftValue":"={{ $json.content.trim().toUpperCase() }}","rightValue":"SKIP","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"id":"86148705-5981-46a9-aaa8-b0b985f8eed1","name":"If4","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3360,1776]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d4f16218-6718-402f-aa9b-b2cc1edaa3f8","leftValue":"={{ $json.content.trim().toUpperCase() }}","rightValue":"SKIP","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"id":"b3540887-bb1c-4d90-a0ba-7ebd7e21d830","name":"If5","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3360,2736]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d4f16218-6718-402f-aa9b-b2cc1edaa3f8","leftValue":"={{ $json.content.trim().toUpperCase() }}","rightValue":"SKIP","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"id":"52be3e1b-6da1-405f-8946-abe8a70cced9","name":"If6","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3360,2256]},{"parameters":{"resource":"text","operation":"message","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Você é a IA de recuperação da ResolvaJá.\nSua tarefa é analisar o histórico recente e decidir como reengajar o cliente de forma LEVE e PRESTATIVA.\n\nDADOS:\n- Nome do Cliente: {{ $json.nome }}\n- Histórico Recente:\n{{ $items(\"Execute a SQL query1\").map(i => (i.json.message.type === 'ai' ? 'ASSISTENTE: ' : 'CLIENTE: ') + i.json.message.content).reverse().join('\\n\\n') }}\n\nDIRETRIZES DE DECISÃO (Sherlock Holmes):\n\n1. LEIA A ÚLTIMA INTERAÇÃO:\n   - Quem falou por último? O Cliente ou Nós?\n   - O assunto está claro?\n\n2. REGRAS DE AÇÃO:\n\n   - CENÁRIO A (MUITO IMPORTANTE - CONTEXTO INCERTO):\n     Se não ficar claro em que fase o cliente está, ou se o histórico for curto/confuso, JAMAIS PERGUNTE \"QUAL O SEU PROBLEMA\".\n     -> AÇÃO: Pergunte se ele ficou com alguma dúvida ou se precisa de ajuda para continuar.\n     -> Exemplo: \"Olá, [Nome]! Notei que nossa conversa parou por aqui. Ficou com alguma dúvida ou precisa de ajuda para avançar?\"\n\n   - CENÁRIO B (COBRANÇA LEVE):\n     Nós fizemos uma pergunta específica (Ex: \"Qual sua profissão?\", \"Qual o banco?\") e ele não respondeu.\n     -> AÇÃO: Retome o assunto sutilmente.\n     -> Exemplo: \"Olá! Para seguirmos com sua análise, eu precisava apenas daquela informação.\"\n\n   - CENÁRIO C (PROMESSA):\n     O cliente disse \"Vou ver\", \"Já te mando\", \"Chegando em casa eu vejo\".\n     -> AÇÃO: Pergunte se conseguiu verificar.\n     -> Exemplo: \"E aí, [Nome], conseguiu dar uma olhada naquilo?\"\n\n   - CENÁRIO D (PARE IMEDIATAMENTE - SKIP):\n     Se a última mensagem nossa for \"Aguarde\", \"Em análise\", \"Até logo\", ou se o cliente enviou um ARQUIVO/IMAGEM recentemente (mesmo sem texto).\n     -> RESPOSTA OBRIGATÓRIA: SKIP\n\n3. FORMATO DA RESPOSTA:\n   - Se for enviar mensagem: Gere o JSON normal com a mensagem.\n   - Se for para NÃO enviar (SKIP): Responda EXATAMENTE este JSON vazio:\n     {\"messages\": []}","role":"user"}]},"simplify":true,"jsonOutput":false,"options":{}},"id":"1aa6f7f5-b60e-4672-96d5-0240795dff34","name":"Message a model1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3712,2256],"credentials":{"openAiApi":{"id":"FXbxMD0PGGyX5kPw","name":"OpenAi account JS"}}},{"parameters":{"resource":"database","operation":"executeQuery","query":"SELECT message\nFROM n8n_chat_histories\nWHERE \"session_id\" = '{{ $json.remoteid }}'\nORDER BY \"id\" DESC\nLIMIT 5","options":{}},"id":"769591fb-0aaa-4308-a08a-330f1d4d5db5","name":"Execute a SQL query1","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-4160,2256],"credentials":{"postgres":{"id":"jrsbA4DhL4ybVOSn","name":"postgres_cloudfy"}}},{"parameters":{"resource":"text","operation":"message","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Você é a IA de recuperação da ResolvaJá.\nSua tarefa é analisar o histórico recente e decidir como reengajar o cliente de forma LEVE e PRESTATIVA.\n\nDADOS:\n- Nome do Cliente: {{ $json.nome }}\n- Histórico Recente:\n{{ $items(\"Execute a SQL query2\").map(i => (i.json.message.type === 'ai' ? 'ASSISTENTE: ' : 'CLIENTE: ') + i.json.message.content).reverse().join('\\n\\n') }}\n\nDIRETRIZES DE DECISÃO (Sherlock Holmes):\n\n1. LEIA A ÚLTIMA INTERAÇÃO:\n   - Quem falou por último? O Cliente ou Nós?\n   - O assunto está claro?\n\n2. REGRAS DE AÇÃO:\n\n   - CENÁRIO A (MUITO IMPORTANTE - CONTEXTO INCERTO):\n     Se não ficar claro em que fase o cliente está, ou se o histórico for curto/confuso, JAMAIS PERGUNTE \"QUAL O SEU PROBLEMA\".\n     -> AÇÃO: Pergunte se ele ficou com alguma dúvida ou se precisa de ajuda para continuar.\n     -> Exemplo: \"Olá, [Nome]! Notei que nossa conversa parou por aqui. Ficou com alguma dúvida ou precisa de ajuda para avançar?\"\n\n   - CENÁRIO B (COBRANÇA LEVE):\n     Nós fizemos uma pergunta específica (Ex: \"Qual sua profissão?\", \"Qual o banco?\") e ele não respondeu.\n     -> AÇÃO: Retome o assunto sutilmente.\n     -> Exemplo: \"Olá! Para seguirmos com sua análise, eu precisava apenas daquela informação.\"\n\n   - CENÁRIO C (PROMESSA):\n     O cliente disse \"Vou ver\", \"Já te mando\", \"Chegando em casa eu vejo\".\n     -> AÇÃO: Pergunte se conseguiu verificar.\n     -> Exemplo: \"E aí, [Nome], conseguiu dar uma olhada naquilo?\"\n\n   - CENÁRIO D (PARE IMEDIATAMENTE - SKIP):\n     Se a última mensagem nossa for \"Aguarde\", \"Em análise\", \"Até logo\", ou se o cliente enviou um ARQUIVO/IMAGEM recentemente (mesmo sem texto).\n     -> RESPOSTA OBRIGATÓRIA: SKIP\n\n3. FORMATO DA RESPOSTA:\n   - Se for enviar mensagem: Gere o JSON normal com a mensagem.\n   - Se for para NÃO enviar (SKIP): Responda EXATAMENTE este JSON vazio:\n     {\"messages\": []}","role":"user"}]},"simplify":true,"jsonOutput":false,"options":{}},"id":"a7120242-cce6-4b71-bb86-6ab48db97f57","name":"Message a model2","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3712,2736],"credentials":{"openAiApi":{"id":"FXbxMD0PGGyX5kPw","name":"OpenAi account JS"}}},{"parameters":{"resource":"database","operation":"executeQuery","query":"SELECT message\nFROM n8n_chat_histories\nWHERE \"session_id\" = '{{ $json.remoteid }}'\nORDER BY \"id\" DESC\nLIMIT 5","options":{}},"id":"f32cb9e9-9e82-445f-9e85-3ae11c9affa5","name":"Execute a SQL query2","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-4160,2736],"credentials":{"postgres":{"id":"jrsbA4DhL4ybVOSn","name":"postgres_cloudfy"}}},{"parameters":{"curlImport":"","method":"POST","url":"https://awlegaltech-evolution.cloudfy.live/message/sendText/RESOLVAJA","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variáveis Globais1').item.json['apikey-evo'] }}"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Supabase4').item.json.remoteid }}\",\n  \"text\": \"{{ $('Split de Mensagem3').item.json.output }}\",\n  \"delay\": 3000,\n  \"presence\": \"composing\"\n}","options":{},"infoMessage":""},"id":"b7f9283e-385b-42a7-900e-06e961fabd8a","name":"Responde texto2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2336,2256]},{"parameters":{"curlImport":"","method":"POST","url":"https://awlegaltech-evolution.cloudfy.live/message/sendText/RESOLVAJA","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variáveis Globais1').item.json['apikey-evo'] }}"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Supabase4').item.json.remoteid }}\",\n  \"text\": \"{{ $('Split de Mensagem4').item.json.output }}\",\n  \"delay\": 3000,\n  \"presence\": \"composing\"\n}","options":{},"infoMessage":""},"id":"e2e624ea-1efe-4fa1-b046-7d5ded3a6140","name":"Responde texto5","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2336,2736]},{"parameters":{"maxItems":1,"keep":"firstItems"},"id":"9c9ac7f8-8133-4536-8c6a-824cf505776a","name":"Limit","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-3936,1776]},{"parameters":{"maxItems":1,"keep":"firstItems"},"id":"dd3e58b6-a106-4520-864b-7d18de726a94","name":"Limit1","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-3936,2256]},{"parameters":{"maxItems":1,"keep":"firstItems"},"id":"f3c79699-b7ee-4731-a236-0b53c2fb8be5","name":"Limit2","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-3936,2736]},{"parameters":{"useCustomSchema":false,"resource":"row","operation":"update","tableId":"followup_clientes","filterType":"manual","matchType":"anyFilter","filters":{"conditions":[{"keyName":"remoteid","condition":"eq","keyValue":"={{ $json.Telefone.toString().includes('@') ? $json.Telefone : $json.Telefone + '@s.whatsapp.net' }}"}]},"dataToSend":"defineBelow","fieldsUi":{"fieldValues":[{"fieldId":"status_atendimento","fieldValue":"EM_ANALISE"}]}},"id":"696c8eb2-7c13-48f0-855b-30e61c2b2856","name":"Update a row3","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5056,3264],"credentials":{"supabaseApi":{"id":"WF1jfUkxVMbcGRg6","name":"Supabase account RJ"}}},{"parameters":{"content":"FOLLOW-UP","height":1984,"width":4400,"color":4},"id":"64098fea-80ec-452d-9745-79a8d6c9d141","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-11856,3152]},{"parameters":{"content":"PÓS-ANALISE","height":832,"width":2160,"color":1},"id":"8d6f44fa-ceca-4409-8524-14d92314113f","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-9872,5616]},{"parameters":{"content":"RAG","height":736,"width":2032,"color":5},"id":"d9a1e093-1bf0-42fc-8c2f-98922a887252","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-9488,2144]},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"1b19d802-e411-4ded-9453-7107792a2049","name":"textMessage","value":"=[SISTEMA - ANÁLISE AUTOMÁTICA]\nO Auditor Jurídico analisou o arquivo enviado:\n- Tipo: {{ JSON.parse($json.message.content).tipo_doc }}\n- Instituição: {{ JSON.parse($json.message.content).instituicao }}\n- Parecer: {{ JSON.parse($json.message.content).parecer }}\n- Indícios: {{ JSON.parse($json.message.content).dados_extraidos.indicios }}\n\n(Guedes: Se o documento for válido, CONFIRME os dados para o cliente e use a ferramenta LEADS AM AGORA).","type":"string"},{"id":"7b85440a-675a-4f9b-bded-96564ebc67be","name":"id","value":"={{ $('Webhook').item.json.body.data.key.id }}","type":"string"},{"id":"ff50fcb6-815f-48bf-88d9-b0dd0d123294","name":"timestamp","value":"={{ $now.toFormat('X') }}","type":"string"}]},"includeOtherFields":false,"options":{}},"id":"b767fc95-3d11-4860-959f-206329f45f3d","name":"Edit Fields7","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,448]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b1fbfad-9b20-427f-be68-d83416d3a878","leftValue":"={{ $json.auditoria.tipo_doc }}","rightValue":"LIXO","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"id":"592c8cb0-4c73-478f-afea-8fe421922419","name":"If7","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-448,448]},{"parameters":{"resource":"text","operation":"response","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"responses":{"values":[{"type":"text","role":"system","content":"=Você é o PERITO FORENSE BANCÁRIO da ResolvaJá.\nSua missão é validar se o documento prova uma irregularidade.\nREGRA DE OURO: SEJA CÉTICO. Na dúvida, REPROVE.\n\n### LISTA NEGRA (O QUE NÃO VALE):\nSe o extrato contiver APENAS transações comuns como:\n- \"Pix\", \"Transferência\", \"TED\", \"DOC\".\n- \"Pagamento de Boleto\", \"Compra Cartão\", \"Saque\".\n- \"Saldo\", \"Saplic\", \"Resgate\".\nRESULTADO IMEDIATO: \"INVALIDO\".\n\n### LISTA BRANCA (O QUE PROCURAMOS):\nO documento SÓ É VÁLIDO se contiver explicitamente termos de COBRANÇA DE TARIFA:\n- \"Tarifa Cesta\", \"Tarifa Max\", \"Tarifa Mensalidade\".\n- \"Seguro Prestamista\", \"Seguro Vida\", \"Seguro Residencial\".\n- \"RMC\", \"Rubrica 217\", \"Mora\", \"Multa\", \"Anuidade\".\n- \"Tarifa de Avaliação\" (em contratos).\n\n### SAÍDA JSON ESTRITA:\nResponda APENAS este JSON.\n{\n  \"tipo_doc\": \"EXTRATO_BANCARIO | CONTRATO_VEICULO | COMPROVANTE_AEREO | DIVIDA_PRESCRITA | LIXO\",\n  \"instituicao\": \"Nome do Banco/Empresa ou null\",\n  \"dados_extraidos\": {\n    \"indicios\": \"Liste APENAS as palavras da LISTA BRANCA encontradas. Se não achar, escreva 'NENHUMA TARIFA ENCONTRADA'.\",\n    \"juros_mensal\": \"X.XX%\",\n    \"valores_suspeitos\": \"R$ XXX,XX\"\n  },\n  \"parecer\": \"VALIDO\" (se achou itens da Lista Branca) ou \"INVALIDO\" (se só tem pix/comum ou não achou nada).\n}"},{"type":"image","role":"user","imageType":"base64","binaryPropertyName":"data","imageDetail":"auto"},{"type":"text","role":"user","content":"=Analise o documento técnico anexo (Imagem ou Texto).\n\nCONTEXTO DE TEXTO (Extraído do PDF - Limitado aos primeiros 50k caracteres):\n---------------------------------------------------\n{{ $json.text ? $json.text.slice(0, 50000) : \"Nenhum texto extraído (Analise apenas a imagem anexa).\" }}\n---------------------------------------------------"}]},"simplify":true,"builtInTools":{},"options":{}},"id":"a4cce0bc-0f69-48b8-bc82-bc49821cef2b","name":"AUDITOR JURÍDICO IMAGEM","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[-1056,320],"credentials":{"openAiApi":{"id":"FXbxMD0PGGyX5kPw","name":"OpenAi account JS"}}},{"parameters":{"resource":"text","operation":"response","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"responses":{"values":[{"type":"text","role":"system","content":"=Você é o PERITO FORENSE BANCÁRIO da ResolvaJá.\nSua missão é validar se o documento prova uma irregularidade.\nREGRA DE OURO: SEJA CÉTICO. Na dúvida, REPROVE.\n\n### LISTA NEGRA (O QUE NÃO VALE):\nSe o extrato contiver APENAS transações comuns como:\n- \"Pix\", \"Transferência\", \"TED\", \"DOC\".\n- \"Pagamento de Boleto\", \"Compra Cartão\", \"Saque\".\n- \"Saldo\", \"Saplic\", \"Resgate\".\nRESULTADO IMEDIATO: \"INVALIDO\".\n\n### LISTA BRANCA (O QUE PROCURAMOS):\nO documento SÓ É VÁLIDO se contiver explicitamente termos de COBRANÇA DE TARIFA:\n- \"Tarifa Cesta\", \"Tarifa Max\", \"Tarifa Mensalidade\".\n- \"Seguro Prestamista\", \"Seguro Vida\", \"Seguro Residencial\".\n- \"RMC\", \"Rubrica 217\", \"Mora\", \"Multa\", \"Anuidade\".\n- \"Tarifa de Avaliação\" (em contratos).\n\n### SAÍDA JSON ESTRITA:\nResponda APENAS este JSON.\n{\n  \"tipo_doc\": \"EXTRATO_BANCARIO | CONTRATO_VEICULO | COMPROVANTE_AEREO | DIVIDA_PRESCRITA | LIXO\",\n  \"instituicao\": \"Nome do Banco/Empresa ou null\",\n  \"dados_extraidos\": {\n    \"indicios\": \"Liste APENAS as palavras da LISTA BRANCA encontradas. Se não achar, escreva 'NENHUMA TARIFA ENCONTRADA'.\",\n    \"juros_mensal\": \"X.XX%\",\n    \"valores_suspeitos\": \"R$ XXX,XX\"\n  },\n  \"parecer\": \"VALIDO\" (se achou itens da Lista Branca) ou \"INVALIDO\" (se só tem pix/comum ou não achou nada).\n}"},{"type":"text","role":"user","content":"=Analise o documento técnico anexo (Imagem ou Texto).\n\nCONTEXTO DE TEXTO (Extraído do PDF - Limitado aos primeiros 50k caracteres):\n---------------------------------------------------\n{{ $json.text ? $json.text.slice(0, 50000) : \"Nenhum texto extraído (Analise apenas a imagem anexa).\" }}\n---------------------------------------------------"}]},"simplify":true,"builtInTools":{},"options":{}},"id":"01c9c21b-a2e9-42c4-8c56-5378e24e7ee1","name":"AUDITOR JURÍDICO DOCUMENTO","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[-1024,496],"credentials":{"openAiApi":{"id":"FXbxMD0PGGyX5kPw","name":"OpenAi account JS"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Pega o texto da IA\nlet text = ($input.item.json.messages || $input.item.json.output || $input.item.json.text || \"\").toString();\n\n// 1. MODO SILENCIOSO\nif (text.includes(\"[SILENCIO]\") || text.trim() === \"\") {\n  return []; \n}\n\n// 2. FILTRO DE ERRO DE LEITURA (A IA Vision falha, então assumimos sucesso manual)\nif (text.includes(\"Não consegui ler\") || text.includes(\"envie o PDF\")) {\n   // Força a mensagem de sucesso para acalmar o cliente\n   text = \"Recebi sua documentação e já anexei ao seu processo seguro. A equipe de auditoria vai analisar manualmente.\";\n}\n\n// 3. SEPARADOR INTELIGENTE\n// Se a mensagem for longa e não tiver \"||\" (Script de encerramento), mandamos como está.\n// Se tiver \"||\", separamos.\nlet parts = text.includes(\"||\") ? text.split(\"||\") : [text];\n\n// Limite de segurança: 4 balões\nparts = parts.slice(0, 4);\n\nconst results = [];\nconst uniqueMessages = new Set(); \n\nfor (const part of parts) {\n  let cleanPart = part.trim();\n  // Deduplicação: Se a frase for igual a anterior, ignora.\n  if (cleanPart !== \"\" && !uniqueMessages.has(cleanPart)) {\n    uniqueMessages.add(cleanPart);\n    results.push({\n      json: {\n        message_part: cleanPart\n      }\n    });\n  }\n}\n\nreturn results;","notice":""},"id":"9767b813-4119-4e7c-a15c-db2991dd95a1","name":"Code in JavaScript","type":"n8n-nodes-base.code","typeVersion":2,"position":[3424,-336]},{"parameters":{"resume":"timeInterval","amount":3,"unit":"seconds"},"id":"949a816c-c1c6-42d1-8e82-04cb495ed1dc","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-5328,-704],"webhookId":"58b1be8a-3145-4e03-8ee9-9b355752be57"},{"parameters":{"enableResponseOutput":false,"generalNotice":"","respondWith":"text","webhookNotice":"","responseBody":"OK","contentTypeNotice":"","options":{"responseCode":200}},"id":"b834be77-2952-4f8d-b6b0-09c4ea4017fe","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-5552,-704]},{"parameters":{"useCustomSchema":false,"resource":"row","operation":"get","tableId":"controle_bot","filters":{"conditions":[{"keyName":"whatsapp_numero","keyValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"}]}},"id":"c6cb90dc-b342-4615-bc5e-f5f611540dc7","name":"Consulta Status ERP","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[16,-336],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"M1cSxwHgCI6k4aTC","name":"SUPABASE ESCAVADOR - MP"}},"onError":"continueRegularOutput"},{"parameters":{},"id":"c2b60ab6-6ed9-4f57-96df-b37f8b912dac","name":"No Operation, do nothing2","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[944,-48]},{"parameters":{"useCustomSchema":false,"resource":"row","operation":"create","tableId":"historico_mensagens","dataToSend":"defineBelow","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp_id","fieldValue":"={{ $('Variáveis Globais').item.json.remoteid }}"},{"fieldId":"conteudo","fieldValue":"={{ $json.message.conversation }}"},{"fieldId":"origem","fieldValue":"bot"}]}},"id":"575770fa-7498-4475-af27-36f44efe4d82","name":"HISTORICO MENSAGENS BOT","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4768,-576],"credentials":{"supabaseApi":{"id":"M1cSxwHgCI6k4aTC","name":"SUPABASE ESCAVADOR - MP"}}},{"parameters":{"useCustomSchema":false,"resource":"row","operation":"create","tableId":"controle_bot","dataToSend":"defineBelow","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp_numero","fieldValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"},{"fieldId":"bot_ativo","fieldValue":"TRUE"},{"fieldId":"nome_contato","fieldValue":"={{ $('Webhook').item.json.body.data.pushName || null }}"}]}},"id":"dc7ee576-1e6d-4570-be60-ec28abb5cd35","name":"CRIAÇÃO DE LEAD NA TABELA CONTROLE_BOT","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[656,-272],"credentials":{"supabaseApi":{"id":"M1cSxwHgCI6k4aTC","name":"SUPABASE ESCAVADOR - MP"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"58b50b47-06b8-4d68-8bc8-a2736c433fd7","leftValue":"={{ Object.keys($node[\"Consulta Status ERP\"].json).length > 0 }}","rightValue":"Is True","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"id":"a05d05a4-2fc5-49f8-b229-c989b3faf0b6","name":"LEAD JÁ EXISTE NA TABELA CONTROLE_BOT?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[304,-336]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0888f93e-6102-4df3-b387-2df6539b9c40","leftValue":"={{ $json.bot_ativo }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"id":"799c3ea7-5127-42a1-8555-72ac4905f818","name":"BOT ATIVADO?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[864,-352]},{"parameters":{"resource":"text","operation":"response","modelId":{"__rl":true,"mode":"id","value":"gpt-4o-mini"},"responses":{"values":[{"type":"text","role":"system","content":"Você é um assistente de extração de dados. O usuário enviará uma mensagem de WhatsApp. Se a mensagem contiver o nome dele (ex: João, me chamo Carlos, Maria da Silva), extraia e retorne APENAS o nome em Title Case. Se a mensagem NÃO contiver um nome claro (ex: tudo bem?, não sei, quero saber do meu processo), retorne EXATAMENTE a palavra NULL."},{"type":"text","role":"user","content":"={{ $('Variáveis Globais').item.json.mensagem || \"[Mensagem de mídia sem texto]\" }}"}]},"simplify":true,"builtInTools":{},"options":{"temperature":0}},"id":"4d4525b0-5910-4225-b493-06d2b3d8bbc4","name":"Extrator de Nome (GPT)","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-4912,-704],"credentials":{"openAiApi":{"id":"FXbxMD0PGGyX5kPw","name":"OpenAi account JS"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-nome-nao-null","leftValue":"={{ $json.output[0].content[0].text }}","rightValue":"NULL","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"id":"5b5ccf57-0fe8-4049-99c4-a4461aca1a91","name":"Achou Nome?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4608,-512]},{"parameters":{"useCustomSchema":false,"resource":"row","operation":"update","tableId":"controle_bot","filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp_numero","condition":"eq","keyValue":"={{ $('Variáveis Globais').item.json.remoteid }}"}]},"dataToSend":"defineBelow","fieldsUi":{"fieldValues":[{"fieldId":"nome_contato","fieldValue":"={{ $('Extrator de Nome (GPT)').item.json.output[0].content[0].text }}"}]}},"id":"b634be39-dc0e-4acf-9f15-28d9300dd641","name":"Atualiza Nome no Banco","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4416,-704],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"M1cSxwHgCI6k4aTC","name":"SUPABASE ESCAVADOR - MP"}}},{"parameters":{"useCustomSchema":false,"resource":"row","operation":"create","tableId":"historico_mensagens","dataToSend":"defineBelow","fieldsUi":{"fieldValues":[{"fieldId":"id_whatsapp","fieldValue":"={{ $('Variáveis Globais').item.json.id_mensagem }}"},{"fieldId":"whatsapp_id","fieldValue":"={{ $('Variáveis Globais').item.json.remoteid }}"},{"fieldId":"conteudo","fieldValue":"={{ $('Webhook').item.json.body.data.message.conversation || $('Webhook').item.json.body.data.message.extendedTextMessage.text }}"},{"fieldId":"tipo_midia","fieldValue":"texto"},{"fieldId":"origem","fieldValue":"cliente"}]}},"id":"4653b7b6-51f5-4e2f-a824-34ae1b9667ad","name":"SALVADOR DE HISTORICO DE MENSAGEM DE TEXTO","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-928,-1488],"credentials":{"supabaseApi":{"id":"M1cSxwHgCI6k4aTC","name":"SUPABASE ESCAVADOR - MP"}},"onError":"continueRegularOutput"},{"parameters":{"useCustomSchema":false,"resource":"row","operation":"create","tableId":"historico_mensagens","dataToSend":"defineBelow","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp_id","fieldValue":"={{ $('Variáveis Globais').item.json.remoteid }}"},{"fieldId":"origem","fieldValue":"cliente"},{"fieldId":"id_whatsapp","fieldValue":"={{ $('Variáveis Globais').item.json.id_mensagem }}"},{"fieldId":"tipo_midia","fieldValue":"image"},{"fieldId":"conteudo","fieldValue":"=data:image/jpeg;base64,{{ $('Edit Fields5').item.json.data }}"}]}},"id":"ba6e3c76-f402-488c-9539-f80067bd3f60","name":"SALVADOR HISTORICO DE MENSAGENS IMAGEM","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1040,112],"credentials":{"supabaseApi":{"id":"M1cSxwHgCI6k4aTC","name":"SUPABASE ESCAVADOR - MP"}},"onError":"continueRegularOutput"},{"parameters":{"useCustomSchema":false,"resource":"row","operation":"create","tableId":"historico_mensagens","dataToSend":"defineBelow","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp_id","fieldValue":"={{ $('Variáveis Globais').item.json.remoteid }}"},{"fieldId":"origem","fieldValue":"cliente"},{"fieldId":"id_whatsapp","fieldValue":"={{ $('Variáveis Globais').item.json.id_mensagem }}"},{"fieldId":"tipo_midia","fieldValue":"document"},{"fieldId":"conteudo","fieldValue":"=data:application/pdf;base64,{{ $json.base64 }}"}]}},"id":"2552c42d-d078-4bf0-bfe0-a2c9bfe93d0a","name":"SALVADOR HISTORICO DE MENSAGENS DOCUMENTOS","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1488,704],"credentials":{"supabaseApi":{"id":"M1cSxwHgCI6k4aTC","name":"SUPABASE ESCAVADOR - MP"}},"onError":"continueRegularOutput"},{"parameters":{"useCustomSchema":false,"resource":"row","operation":"create","tableId":"historico_mensagens","dataToSend":"defineBelow","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp_id","fieldValue":"={{ $('Variáveis Globais').item.json.remoteid }}"},{"fieldId":"origem","fieldValue":"cliente"},{"fieldId":"id_whatsapp","fieldValue":"={{ $('Variáveis Globais').item.json.id_mensagem }}"},{"fieldId":"tipo_midia","fieldValue":"audio"},{"fieldId":"conteudo","fieldValue":"=data:audio/ogg;base64,{{ $json.base64 }}"}]}},"id":"c9ead14c-c255-4fd3-9857-e87d251e2508","name":"SALVADOR HISTORICO DE MENSAGENS AUDIO","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1072,-208],"credentials":{"supabaseApi":{"id":"M1cSxwHgCI6k4aTC","name":"SUPABASE ESCAVADOR - MP"}},"onError":"continueRegularOutput"}],"connections":{"Edit Fields6":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Variáveis Globais":{"main":[[{"node":"Extrator de Nome (GPT)","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Supabase Vector Store1","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Supabase Vector Store1","type":"ai_document","index":0}]]},"Recursive Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Supabase: Get Lead Data on Webhook":{"main":[[{"node":"If Lead Não Existe, Criar","type":"main","index":0}]]},"If Lead Não Existe, Criar":{"main":[[{"node":"Supabase: Criar Novo Lead","type":"main","index":0}],[{"node":"ATUALIZA DADOS DO LEAD","type":"main","index":0}]]},"Supabase: Criar Novo Lead":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"AUDITOR JURÍDICO IMAGEM","type":"main","index":0},{"node":"SALVADOR HISTORICO DE MENSAGENS IMAGEM","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields4","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}],[{"node":"IF API NÃO ENVIA B64","type":"main","index":0}],[{"node":"Edit Fields5","type":"main","index":0}],[{"node":"BAIXADOR DO DOCUMENTO EM BASE64","type":"main","index":0}]]},"Converte documento":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Consulta Status ERP","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"AUDITOR JURÍDICO DOCUMENTO","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Merge1","type":"main","index":0},{"node":"SALVADOR DE HISTORICO DE MENSAGEM DE TEXTO","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Responde texto4","type":"main","index":0}],[{"node":"Responde texto3","type":"main","index":0}],[{"node":"Responde imagem","type":"main","index":0}],[{"node":"Responde texto","type":"main","index":0}]]},"Responde imagem":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Responde texto":{"main":[[{"node":"HISTORICO MENSAGENS BOT","type":"main","index":0}]]},"Var base":{"main":[[{"node":"Convert to File2","type":"main","index":0},{"node":"SALVADOR HISTORICO DE MENSAGENS AUDIO","type":"main","index":0}]]},"IF API NÃO ENVIA B64":{"main":[[{"node":"Evolution API2","type":"main","index":0}],[{"node":"Var base","type":"main","index":0}]]},"Convert to File3":{"main":[[{"node":"Transcrevendo audios1","type":"main","index":0}]]},"Evolution API2":{"main":[[{"node":"Convert to File3","type":"main","index":0}],[{"node":"Loop Over Items2","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Transcrevendo audios1","type":"main","index":0}]]},"Transcrevendo audios1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Evolution API2","type":"main","index":0}],[{"node":"Wait3","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Evolution API2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Edit Fields8","type":"main","index":0}],[{"node":"Edit Fields8","type":"main","index":0}]]},"Responde texto4":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Responde texto3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Bloquear IA1":{"main":[[{"node":"Update a row1","type":"main","index":0}]]},"Get bloquear1":{"main":[[{"node":"If12","type":"main","index":0}]]},"If11":{"main":[[{"node":"Switch2","type":"main","index":0}],[{"node":"Get bloquear1","type":"main","index":0}]]},"If12":{"main":[[{"node":"No Operation, do nothing7","type":"main","index":0}],[{"node":"Edit Fields9","type":"main","index":0}]]},"Edit Fields9":{"main":[[{"node":"tratamento1","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"If11","type":"main","index":0}]]},"tratamento1":{"main":[[{"node":"Supabase: Get Lead Data on Webhook","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Variáveis Globais1","type":"main","index":0}]]},"Supabase4":{"main":[[{"node":"Filtro Horário Comercial1","type":"main","index":0}]]},"Loop Over Items4":{"main":[[{"node":"Supabase6","type":"main","index":0}],[{"node":"Responde texto1","type":"main","index":0}]]},"Split de Mensagem2":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"1 segundo1":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"OpenAI9":{"ai_languageModel":[[{"node":"Parser  Chain","type":"ai_languageModel","index":0}]]},"OutputParser2":{"ai_outputParser":[[{"node":"Parser  Chain2","type":"ai_outputParser","index":0}]]},"Parser  Chain2":{"main":[[{"node":"Split de Mensagem3","type":"main","index":0}]]},"Split de Mensagem3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"1 segundo":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"OpenAI10":{"ai_languageModel":[[{"node":"Parser  Chain2","type":"ai_languageModel","index":0}]]},"OutputParser3":{"ai_outputParser":[[{"node":"Parser  Chain3","type":"ai_outputParser","index":0}]]},"Parser  Chain3":{"main":[[{"node":"Split de Mensagem4","type":"main","index":0}]]},"Split de Mensagem4":{"main":[[{"node":"Loop Over Items7","type":"main","index":0}]]},"1 segundo2":{"main":[[{"node":"Loop Over Items7","type":"main","index":0}]]},"OpenAI11":{"ai_languageModel":[[{"node":"Parser  Chain3","type":"ai_languageModel","index":0}]]},"Loop Over Items7":{"main":[[{"node":"Supabase7","type":"main","index":0}],[{"node":"Responde texto5","type":"main","index":0}]]},"4h":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"24h":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]},"48h":{"main":[[{"node":"Execute a SQL query2","type":"main","index":0}]]},"Filtro Horário Comercial1":{"main":[[{"node":"4h","type":"main","index":0},{"node":"24h","type":"main","index":0},{"node":"48h","type":"main","index":0}]]},"Responde texto1":{"main":[[{"node":"1 segundo1","type":"main","index":0}]]},"OutputParser1":{"ai_outputParser":[[{"node":"Parser  Chain","type":"ai_outputParser","index":0}]]},"Parser  Chain":{"main":[[{"node":"Split de Mensagem2","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Supabase5","type":"main","index":0}],[{"node":"Responde texto2","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"If4","type":"main","index":0}]]},"Variáveis Globais1":{"main":[[{"node":"Supabase4","type":"main","index":0}]]},"BAIXADOR DO DOCUMENTO EM BASE64":{"main":[[{"node":"Converte documento","type":"main","index":0},{"node":"SALVADOR HISTORICO DE MENSAGENS DOCUMENTOS","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Supabase Vector Store2":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"Supabase Vector Store2","type":"ai_embedding","index":0}]]},"LEADS AM":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"LEADS AM1":{"main":[[{"node":"Update a row3","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"If3","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"GUEDES 2","type":"main","index":0}]]},"GUEDES 2":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"ATLZ DE NOTIF","type":"main","index":0}]]},"LIMPAR BLOQUEIO":{"main":[[{"node":"LIMPAR BLOQUEIO1","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Bloquear IA1","type":"main","index":0}],[{"node":"Redis3","type":"main","index":0}]]},"Redis3":{"main":[[{"node":"Update a row2","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"ATUALIZA DADOS DO LEAD":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Update a row":{"main":[[]]},"If3":{"main":[[{"node":"Update a row","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Limit","type":"main","index":0}]]},"If4":{"main":[[{"node":"Parser  Chain","type":"main","index":0}]]},"If5":{"main":[[{"node":"Parser  Chain3","type":"main","index":0}]]},"If6":{"main":[[{"node":"Parser  Chain2","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Execute a SQL query2":{"main":[[{"node":"Limit2","type":"main","index":0}]]},"Message a model1":{"main":[[{"node":"If6","type":"main","index":0}]]},"Message a model2":{"main":[[{"node":"If5","type":"main","index":0}]]},"Responde texto2":{"main":[[{"node":"1 segundo","type":"main","index":0}]]},"Responde texto5":{"main":[[{"node":"1 segundo2","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Message a model1","type":"main","index":0}]]},"Limit2":{"main":[[{"node":"Message a model2","type":"main","index":0}]]},"Update a row3":{"main":[[{"node":"If1","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"If7","type":"main","index":0}]]},"If7":{"main":[[{"node":"Merge1","type":"main","index":2}],[]]},"AUDITOR JURÍDICO DOCUMENTO":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"AUDITOR JURÍDICO IMAGEM":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Variáveis Globais","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Consulta Status ERP":{"main":[[{"node":"LEAD JÁ EXISTE NA TABELA CONTROLE_BOT?","type":"main","index":0}]]},"HISTORICO MENSAGENS BOT":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"CRIAÇÃO DE LEAD NA TABELA CONTROLE_BOT":{"main":[[{"node":"BOT ATIVADO?","type":"main","index":0}]]},"LEAD JÁ EXISTE NA TABELA CONTROLE_BOT?":{"main":[[{"node":"BOT ATIVADO?","type":"main","index":0}],[{"node":"CRIAÇÃO DE LEAD NA TABELA CONTROLE_BOT","type":"main","index":0}]]},"BOT ATIVADO?":{"main":[[{"node":"Redis","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Extrator de Nome (GPT)":{"main":[[{"node":"Achou Nome?","type":"main","index":0}]]},"Achou Nome?":{"main":[[{"node":"Atualiza Nome no Banco","type":"main","index":0}],[{"node":"If2","type":"main","index":0}]]},"Atualiza Nome no Banco":{"main":[[{"node":"If2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[10]},"node:LEADS AM1":{"documentId":"1BqYV-beH7Wk_d8jamAae9EpXq4NWJ_T3ClA9yNxl-qA","sheetId":0,"lastRevision":781,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1BqYV-beH7Wk_d8jamAae9EpXq4NWJ_T3ClA9yNxl-qA&revision=781&exportFormat=xlsx"}},"pinData":{"Webhook":[{"json":{"headers":{"host":"awlegaltech-n8n.cloudfy.live","user-agent":"axios/1.12.2","content-length":"1323","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"91.98.149.129","cf-ipcountry":"DE","cf-ray":"9dcafc629bb19b94-FRA","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/json","x-forwarded-for":"172.70.251.108","x-forwarded-host":"awlegaltech-n8n.cloudfy.live","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"c62dfd086a39","x-real-ip":"172.70.251.108"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"RESOLVAJA","data":{"key":{"remoteJid":"188583575068711@lid","remoteJidAlt":"559284147820@s.whatsapp.net","fromMe":false,"id":"ACAA9CE07876A8AA3A2BD53897635E1F","participant":"","addressingMode":"lid"},"pushName":"@fisioterapeuta_flavio","status":"DELIVERY_ACK","message":{"conversation":"Flávio Andrade","messageContextInfo":{"deviceListMetadata":{"senderKeyIndexes":[],"recipientKeyIndexes":[],"recipientKeyHash":{"0":181,"1":128,"2":64,"3":31,"4":223,"5":56,"6":123,"7":5,"8":116,"9":195},"recipientTimestamp":{"low":1773074881,"high":0,"unsigned":true}},"deviceListMetadataVersion":2,"messageSecret":{"0":67,"1":236,"2":56,"3":180,"4":38,"5":118,"6":189,"7":229,"8":144,"9":199,"10":169,"11":42,"12":16,"13":8,"14":160,"15":13,"16":199,"17":81,"18":15,"19":222,"20":148,"21":246,"22":240,"23":170,"24":203,"25":125,"26":24,"27":68,"28":209,"29":91,"30":236,"31":96}}},"messageType":"conversation","messageTimestamp":1773572126,"instanceId":"5bc51cf2-6a3f-4fff-9a0f-494d1e639941","source":"android"},"destination":"https://awlegaltech-n8n.cloudfy.live/webhook/12730597-520e-42d3-8af0-283381e63944","date_time":"2026-03-15T07:55:27.039Z","sender":"559281056671@s.whatsapp.net","server_url":"https://awlegaltech-evolution.cloudfy.live","apikey":"777C54930886-4958-A3AA-D0E58D2ED3F7"},"webhookUrl":"https://awlegaltech-n8n.cloudfy.live/webhook/12730597-520e-42d3-8af0-283381e63944","executionMode":"production"},"pairedItem":{"item":0}}]}},"customData":{}}